<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!--应用信息配置：提供方应用信息，用于计算依赖关系，方便dubbo管理页面比较清晰是哪个应用暴露出来的-->  
    <dubbo:application name="morning-cms-biz" logger="slf4j" />  

    <!-- 注册中心配置：使用zookeeper注册中心暴露服务地址  file="${catalina.home}/dubbo-registry/dubbo-registry.properties" -->
    <dubbo:registry address="${dubbo.registry.address}" check="true" subscribe="false" />
    
	<!-- 服务提供者协议配置：用dubbo协议在20880端口暴露服务 -->
	<dubbo:protocol name="dubbo" port="${dubbo.protocol.port}" threads="${dubbo.protocol.threads}" />
	
	<!-- 服务提供者暴露服务配置：引入相应模块服务提供者暴露服务配置 -->
	<import resource="classpath:dubbo/dubbo-interface-administrator.xml" />
    <import resource="classpath:dubbo/dubbo-interface-system.xml" />
	
</beans>