<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morning.dao.user.UserMapper" >
  <!--设置model类和数据库中表的字段一一对应，注意数据库字段和model类中的字段名称不致，此处一定要！-->
  <resultMap id="BaseResultMap" type="com.morning.entity.user.User" >
  	<!-- 用户信息 -->
    <id column="ACCOUNT_ID" property="accountId" jdbcType="INTEGER" />
    <result column="LOGIN_NAME" property="loginName" jdbcType="VARCHAR" />
    <result column="LOGIN_PASSWORD" property="loginPassword" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_IDENTITY" property="userIdentity" jdbcType="VARCHAR" />
    <result column="PIC_IMG" property="picImg" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TELEPHONE" property="telephone" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="TINYINT" />
    <result column="AGE" property="age" jdbcType="TINYINT" />
    <result column="PAYMENT" property="payment" jdbcType="INTEGER" />
    <result column="USER_POINT" property="userPoint" jdbcType="INTEGER" />
    <result column="MSG_NUM" property="msgNum" jdbcType="INTEGER" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="LAST_LOGIN_TIME" property="lastLoginTime" jdbcType="TIMESTAMP" />
    <result column="LAST_LOGIN_IP" property="lastLoginIp" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    ACCOUNT_ID, LOGIN_NAME, LOGIN_PASSWORD, CREATE_DATE, USER_NAME, USER_IDENTITY, PIC_IMG, EMAIL, TELEPHONE, 
    SEX, AGE, PAYMENT, USER_POINT, MSG_NUM, STATUS, LAST_LOGIN_TIME, LAST_LOGIN_IP
  </sql>
  
  <!-- 注册创建用户 -->
  <insert id="createUser" parameterType="com.morning.entity.user.User" >
    insert into tb_account (ACCOUNT_ID, LOGIN_NAME, LOGIN_PASSWORD, USER_NAME, USER_IDENTITY, EMAIL,TELEPHONE)
    values (#{accountId,jdbcType=INTEGER}, #{loginName,jdbcType=VARCHAR}, #{loginPassword,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{userIdentity,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR}, #{telephone,jdbcType=VARCHAR})
  </insert>
  
    <!-- 更新用户最后登录的时间和IP -->
  <update id="updateUserLoginLog" parameterType="java.util.Map">
  	update tb_account
    set LAST_LOGIN_TIME = #{lastLoginTime,jdbcType=TIMESTAMP},
      LAST_LOGIN_IP = #{lastLoginIp,jdbcType=VARCHAR}
    where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </update>
  
  <!-- 通过用户ID，查询用户 -->
  <select id="queryUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_account
    where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </select>
  
  <!-- 通过用户邮箱，查询用户 -->
  <select id="queryUserByEmail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_account
    where Email = #{email,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询用户列表 -->
  <select id="queryUserList" resultMap="BaseResultMap" parameterType="com.morning.entity.user.QueryUser" >
	select
	<include refid="Base_Column_List" />
	from tb_account
	<where>
	<if test="searchContent != null and searchContent !=''">
		AND (LOGIN_NAME LIKE '%' #{searchContent} '%' OR USER_NAME LIKE '%'
		#{searchContent} '%' OR LAST_LOGIN_IP LIKE '%' #{searchContent} '%' OR
		EMAIL LIKE '%' #{searchContent} '%' OR TELEPHONE LIKE '%'
		#{searchContent} '%')
	</if>
	  <if test="beginCreateTime != null and beginCreateTime !=''">
		AND CREATE_DATE >= #{beginCreateTime}
	  </if>
	<if test="endCreateTime != null and endCreateTime !=''">
		AND <![CDATA[CREATE_DATE  <= #{endCreateTime}]]>
	</if>
    </where>
  </select>
  
  <!-- 根据用户信息，查询用户 -->
  <select id="selectByUser" parameterType="com.morning.entity.user.User" resultMap="BaseResultMap">
 	select
 	<include refid="Base_Column_List" />
 	from tb_account
 	<where>
      <if test="accountId != null">
         and ACCOUNT_ID = #{accountId,jdbcType=DECIMAL}
      </if>
      <if test="loginName != null" >
        and LOGIN_NAME = #{loginName,jdbcType=VARCHAR}
      </if>
      <if test="userName != null" >
        and USER_NAME = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="email != null" >
        and EMAIL = #{email,jdbcType=VARCHAR}
      </if>
      <if test="telephone != null" >
        and TELEPHONE = #{telephone,jdbcType=VARCHAR}
      </if>
      <if test="loginPassword != null" >
        and LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR}
      </if>
 	</where>
  </select>
  
  <!-- 查询手机是否存在 -->
  <select id="checkMobile" parameterType="java.lang.String" resultType="int">
  	select COUNT(1) from tb_account  where TELEPHONE = #{telephone,jdbcType=VARCHAR}
  </select>
  
  <!-- 查询邮箱号是否存在 -->
  <select id="checkEmail" parameterType="java.lang.String" resultType="int">
	select COUNT(1) from tb_account  where EMAIL = #{email,jdbcType=VARCHAR}
  </select>

  <!-- 用户登录 (手机或邮箱均可登录)-->
  <select id="getLoginUser" parameterType="java.util.Map" resultMap="BaseResultMap">
	select
 	<include refid="Base_Column_List" />
 	from tb_account
	where LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR} AND 
	(TELEPHONE=#{loginName,jdbcType=VARCHAR} OR EMAIL=#{loginName,jdbcType=VARCHAR})
  </select>

  <!-- 修改学员密码 -->
  <update id="updateUserPwd" parameterType="com.morning.entity.user.User">
	update tb_account
	set LOGIN_PASSWORD = #{loginPassword,jdbcType=VARCHAR}
	where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </update>

  <!-- 修改用户信息 -->
  <update id="updateUser" parameterType="com.morning.entity.user.User" >
    update tb_account
    <set >
      <if test="loginName != null" >
        LOGIN_NAME = #{loginName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=TINYINT},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=TINYINT},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="telephone != null" >
        TELEPHONE = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userIdentity != null" >
        USER_IDENTITY = #{userIdentity,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </update>
  
  <!-- 修改用户头像 -->
  <update id="updateImg" parameterType="com.morning.entity.user.User">
	update tb_account 
	set PIC_IMG = #{picImg,jdbcType=VARCHAR}
	where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </update>
  
  <!-- 查询用户数量 -->
  <select id="getUserNumber" resultType="int">
  	select IfNULL(count(1),0) from tb_account
  </select>
  
  <!-- 冻结或解冻用户 -->
  <update id="updateUserStates" parameterType="com.morning.entity.user.User">
	update tb_account
	set STATUS = #{status,jdbcType=INTEGER} 
	where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </update>
  
  <!-- 删除用户，通过账户ID -->
  <delete id="deleteUser" parameterType="java.lang.Integer" >
    delete from tb_account
	where ACCOUNT_ID = #{accountId,jdbcType=INTEGER}
  </delete>
  
</mapper>