<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pussinboots.morning.os.modules.product.mapper.CategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.pussinboots.morning.os.modules.product.entity.Category">
		<id column="category_id" property="categoryId" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="sort" property="sort" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="show_in_nav" property="showInNav" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="page_title" property="pageTitle" />
		<result column="page_description" property="pageDescription" />
		<result column="page_keyword" property="pageKeyword" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id AS categoryId, parent_id AS parentId, name, sort, type, status, show_in_nav AS showInNav, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, page_title AS pageTitle, page_description AS pageDescription, page_keyword AS pageKeyword, remarks
    </sql>
    
    <!-- 根据分类导航状态和分类状态查找分类列表 -->
    <select id="selectCategorysByStatus" resultType="com.pussinboots.morning.os.modules.product.entity.Category">
    	SELECT
        	category_id AS categoryId, 
        	parent_id AS parentId, 
        	name, 
        	type
        FROM
        	os_category
        WHERE
        	status = #{status}
        AND show_in_nav = #{showInNav}
        ORDER BY
        	sort ASC
    </select>
    
</mapper>
