<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pussinboots.morning.os.modules.product.mapper.CategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.pussinboots.morning.os.modules.product.entity.Category">
		<id column="category_id" property="categoryId" />
		<result column="parent_id" property="parentId" />
		<result column="name" property="name" />
		<result column="sort" property="sort" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="show_in_nav" property="showInNav" />
		<result column="show_in_index" property="showInIndex" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="page_title" property="pageTitle" />
		<result column="page_description" property="pageDescription" />
		<result column="page_keyword" property="pageKeyword" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        category_id AS categoryId, parent_id AS parentId, name, sort, type, status, show_in_nav AS showInNav, show_in_index AS showInIndex, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, page_title AS pageTitle, page_description AS pageDescription, page_keyword AS pageKeyword, remarks
    </sql>
    
    <!-- 根据分类导航状态和分类状态查找分类列表 -->
    <select id="selectCategorysByStatus" resultType="com.pussinboots.morning.os.modules.product.entity.Category">
    	SELECT
        	category_id AS categoryId, 
        	parent_id AS parentId, 
        	name, 
        	type
        FROM
        	os_category
        WHERE
        	status = #{status}
        AND show_in_nav = #{showInNav}
        ORDER BY
        	sort ASC
    </select>
    
    <!-- 通过父目录ID查找子目录ID及该目录ID -->
    <select id="selectCategoryIds" resultType="java.lang.Long">
    	SELECT
    		category_id AS categoryId
		FROM
			os_category
		WHERE
			status = #{status}
		AND parent_id IN (
			SELECT
				category_id AS categoryId
			FROM
				os_category
			WHERE
				STATUS = #{status}
			AND parent_id = #{categoryId}
		)
		OR parent_id = #{categoryId}
		OR category_id = #{categoryId}
    </select>
    
    <!-- 根据类目ID查找类目广告 -->
    <select id="selectCategoryAdvert" resultType="com.pussinboots.morning.os.modules.product.dto.CategoryAdvertDTO">
    	SELECT
    		title, 
    		href, 
    		pic_img AS picImg
    	FROM
    		os_advert_detail d
    	LEFT JOIN os_category a ON d.category_id = a.category_id
    	WHERE 
    		d.status = #{status}
    	AND d.category_id = #{categoryId}
        ORDER BY
        	d.sort ASC
        LIMIT 
        	#{showNumber}
    </select>
    
    <!-- 根据父类目ID查找子类目列表 -->
    <select id="selectLowerCategories" resultType="com.pussinboots.morning.os.modules.product.entity.Category">
		SELECT
			category_id AS categoryId,
			parent_id AS parentId,
			name
		FROM
			os_category
		WHERE
			parent_id = ${categoryId}
		AND status = ${status}
		ORDER BY
			sort ASC
    </select>
    
    <!-- 根据子类目ID查找父目录 -->
    <select id="selectUpperByLowerCategoryId" resultType="com.pussinboots.morning.os.modules.product.entity.Category">
		SELECT
			category_id AS categoryId,
			parent_id AS parentId,
			status,
			NAME
		FROM
			os_category
		WHERE
			category_id = (
				SELECT
					parent_id
				FROM
					os_category
				WHERE
					category_id = #{categoryId}
			)	
    </select>
</mapper>
