@charset "utf-8";

#order-content {
	clear: both;
	width: 100%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	border-top: 2px solid #1d7ad9;
	background: #f5f5f5;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: "微软雅黑";
	min-height:350px;
	_height:350px;
}
#order-content #content-details {
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;

}
#order-content #content-details table{
	text-align:center;
	width:100%;
}
#order-content #content-details table th,.catbox table td{
	border-bottom:1px solid #e0e0e0;
}

#order-content #content-details table th{
	height: 70px;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
#order-content #content-details table th label{
	float: left;
	margin-left: 30px;
}
#order-content #content-details table td{
	padding-top: 20px;
	padding-bottom: 20px;
}
#order-content #content-details .check-all{
	vertical-align: middle;
	height: 18px;
	width: 18px;
}
#order-content #content-details .check-one{
	vertical-align: middle;
	height: 18px;
	width: 18px;
	margin-left: -28px;
}
#order-content #content-details .goods{
	width: 500px;
}
#order-content #content-details .goods span{
	width: 300px;
	margin-top: 20px;
	text-align: left;
	float: left;
	color: #424242;
	font-size: 18px;
	font-weight: normal;
	font-variant: normal;
}
#order-content #content-details .goods img{
	width: 80px;
	height: 80px;
	margin-right: 40px;
	float: left;
}

#order-content #content-details .price{
	width: 150px;
	font-size: 16px;
}
#order-content #content-details .count{
	width: 160px;
}
#order-content #content-details .operation{
	width: 100px;
}
#order-content #content-details .count span{
	font-size: 20px;
	line-height: 38px;
	color: #757575;
	font-weight: bold;
}
#order-content #content-details .count .add, #order-content #content-details .count input, #order-content #content-details .count .reduce{
	float:left;
	margin-right:-1px;
	position:relative;
	z-index:0;
}
#order-content #content-details .count .add,#order-content #content-details  .count .reduce{
	height: 38px;
	width: 38px;
	text-align: center;
	line-height: 38px;
	color: #444;
	border: 1px solid #e5e5e5;
}
#order-content #content-details .count .add:hover,#order-content #content-details  .count .reduce:hover{
	background: #e0e0e0;
	z-index:3;
	cursor:pointer;
}
#order-content #content-details .count input{
	width: 72px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #e5e5e5;
	color: #343434;
	text-align: center;
	background-color: #fff;
	z-index: 2;
	font-family: "微软雅黑";
	font-size: 16px;
}
#order-content #content-details .subtotal{
	width: 200px;
	color: #1d7ad9;
	font-weight: normal;
	font-size: 16px;
}
#order-content #content-details .operation span{
	font-size: 16px;
	font-weight: bold;
}
.operation span:hover,a:hover{
	cursor: pointer;
	color: #1d7ad9;
}

#order-content #content-details .foot{
	margin-top: 0px;
	color: #757575;
	height: 48px;
	border-top: 0;
	background-color: #eaeaea;
	background-image: linear-gradient(RGB(241,241,241),RGB(226,226,226));
	position: relative;
	z-index: 8;
}
#order-content #content-details .foot .fl{float:left;}
#order-content #content-details .foot .fr{float:right;}
.foot div, .foot a{
	line-height:48px;
	height:48px;
}
#order-content #content-details .foot .select-all{
	width:80px;
	height:48px;
	line-height:48px;
	color:#666;
	text-align:center;
}
#order-content #content-details .foot .delete{
	padding-left:10px;
}
#order-content #content-details .foot .closing{
	border-left:1px solid #c8c8c8;
	width:200px;
	text-align:center;
	color:#666;
	font-weight:bold;
	cursor:pointer;
	background-image:linear-gradient(RGB(241,241,241),RGB(226,226,226));
}
#order-content #content-details .foot .closing:hover{
	background-image:linear-gradient(RGB(226,226,226),RGB(241,241,241));		
	color:#333;
}
#order-content #content-details .foot .total{
	cursor: pointer;
	font-size: 13px;
	color: #1d7ad9;
	margin-top: 0;
	margin-right: 50px;
	margin-bottom: 0;
	margin-left: 30px;
}
#order-content #content-details .foot  #priceTotal, .foot #selectedTotal{
	color: #1d7ad9;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	font-size: 18px;
}
#order-content #content-details .foot .selected{
	cursor:pointer;
}
