@charset "utf-8";

/*订单信息栏开始*/
#order {
	clear: both;
	width: 100%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	border-top: 2px solid #1d7ad9;
	background: #f5f5f5;
	padding-top: 40px;
	padding-bottom: 40px;
	font-family: "微软雅黑";
	min-height: 200px;
	_height: 350px;
}
#order #order-content{
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	position: relative;
}
#order #order-content #order-content-left {
	height: 110px;
	width: 700px;
	float: left;
	margin-top: 30px;
	margin-left: 60px;
	margin-bottom: 35px;
}
#order #order-content #order-content-left img{
	height: 110px;
	width: 110px;
	margin-right: 20px;
	float: left;
}
#order #order-content #order-content-left #order-content-left-title {
	line-height: 40px;
}
#order #order-content #order-content-left #order-content-left-title #name {
	line-height: 40px;
	font-size: 18px;
}
#order #order-content #order-content-left #order-content-left-title #message{
	font-size: 28px;
	line-height: 50px;
	color: #83c44e;
}

#order #order-content #order-content-right {
	margin-top: 30px;
	height: 110px;
	float: left;
}
#order #order-content #order-content-right #shopping{
	float: left;
	height: 40px;
	width: 180px;
	border: 1px solid #CCC;
	text-align: center;
	margin-top: 35px;
	cursor: pointer;
}
#order #order-content #order-content-right #shopping a{
	line-height: 40px;
	font-size: 14px;
	color: #757575;
}
#order #order-content #order-content-right #buy{
	float: left;
	height: 40px;
	width: 180px;
	text-align: center;
	margin-left: 20px;
	margin-top: 35px;
	background-color: #1d7ad9;
	cursor: pointer;
}
#order #order-content #order-content-right #buy a{
	line-height: 40px;
	font-size: 14px;
	color: #FFFFFF;
}
/*订单信息栏结束*/


/*主要展示栏（一）开始*/
#content-star-goods {
	width: 100%;
	color: #333;
}
#content-star-goods #star-goods-content {
	width: 1226px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-title{
	line-height: 60px;
	height: 60px;
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-title span{
	font-size: 22px;
	width: 200px;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change{
	width: 82px;
	height: 35px;
	float: right;
	margin-top: 10px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	color: #337ab7;
	line-height: 35px;
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	border-radius: 4px;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change #star-goods-content-prave {
	width: 40px;
	height: 35px;
	float: left;
	font-size: 25px;
	cursor: pointer;
	font-family: "Comic Sans MS", cursive;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change #star-goods-content-next {
	width: 40px;
	height: 35px;
	float: right;
	font-size: 25px;
	border-right: 1px solid #ddd;
	cursor: pointer; 
	font-family: "Comic Sans MS", cursive;
}
#content-star-goods #star-goods-content #star-goods-content-goods{
    width: 1226px;
    height: 345px;
    overflow: hidden;
    position: relative;
}
#content-star-goods #star-goods-content #star-goods-content-goods ul{
	width: 2500px;
	height: 300px;
	position: absolute;
	left: 0px;
	overflow: hidden;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
}
#content-star-goods #star-goods-content #star-goods-content-goods li{
	width: 237px;
	height: 300px;
	padding-top: 20px;
	margin-right: 10px;
	background: #fafafa;
	float: left;
	text-align: center;
	border-top: 1px solid #1d7ad9;
}
#content-star-goods #star-goods-content #star-goods-content-goods img{
	height: 160px;
	width: 160px;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a{
	display: block;
	font-family: "微软雅黑";
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:hover{
	cursor: pointer;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(2) {
	font-size: 13px;
	color: #212121;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(3) {
	font-size: 12px;
	color: #B0B0B0;
	margin-top: 3px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(4) {
	font-size: 14px;
	color: #1d7ad9;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
}
/*主要展示栏（一）结束*/
