/*导航及轮播图开始*/
#content {
	height: 460px;
	width: 1226px;
	color: #424242;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	clear: both;
	position:relative;
}
.position{
	width: 235px;
	height:460px;
	position:absolute;
}

#content #content_menu_wrap {
	width: 235px;
	height: 100%;
	float: left;
	background: rgba(0,0,0,0.8);
	z-index: 600;
}
#content #content_menu_wrap .active:nth-child(1) {
      margin-top: 20px; 
}
#content #content_menu_wrap .item {
	width: 235px;
	height: 42px;
}

#content #content_menu_wrap li {
	width: 100%;
	height: 42px;
	transition: all 3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	line-height: 42px;
	cursor: pointer;
}
#content #content_menu_wrap li a {
	font-size: 14px;
	color: #ffffff;
	margin-left: 30px;
	float: left;
}
#content #content_menu_wrap li .sign {
	float: right;
	font-size: 20px;
	margin-right: 20px;
	font-family: "Comic Sans MS", cursive;
}
#content #content_menu_wrap li .content_menu_content {
	width:600px;
	height: 459px;
	display: none;
	z-index: 610;
	position: absolute;
	top:0px;
	left: 236px;
	background: #fff;
	border: 3px solid #e0e0e0;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

#content #content_menu_wrap li .content_menu_content .content_menu_content_ul{
	float: left;
	width: 280px; 
}

#content #content_menu_wrap li .content_menu_content .content_menu_content_ul img{
	height: 40px;
	width: 40px;
	margin-right:10px;
}
#content #content_menu_wrap li .content_menu_content .content_menu_content_ul li{
	width: 250px;
	height: 76px;
	padding: 18px;
	float: left;
}

#content #content_menu_wrap li .content_menu_content .content_menu_content_ul li a{
	color: #424242;
	margin-left: 10px;
	font-size: 12px;
}
#content #content_menu_wrap li .content_menu_content .content_menu_content_ul li a:hover{
	color: #1d7ad9;
}
#content #demo01 .slides .img img{
	height: 460px;
	width: 991px;
}

.flexslider{
	position: relative;
	width: 991px;
	height: 460px;
	overflow: hidden;
	zoom: 1;
	left:235px;
}
.flex-viewport{
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.flexslider .slides{
	zoom: 1;
}
.flex-direction-nav a{
	width: 60px;
	height: 90px;
	line-height: 99em;
	overflow: hidden;
	margin: -60px 0 0;
	display: block;
	background: url(../images/ad_ctr.png) no-repeat;
	position: absolute;
	top: 50%;
	z-index: 10;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .3s ease;
}
.flex-direction-nav .flex-next{
	background-position: 0 -90px;
	right: 0;
}
.flex-direction-nav .flex-prev{
	left: 0;
}
.flexslider:hover .flex-next{
	opacity: 0.8;
	filter: alpha(opacity=25);
}
.flexslider:hover .flex-prev{
	opacity: 0.8;
	filter: alpha(opacity=25);
}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover{
	opacity: 1;
	filter: alpha(opacity=50);
}
.flex-control-nav{
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}
.flex-control-nav li{
	margin: 0 5px;
	display: inline-block;
	zoom: 1;
*display:inline;
}
.flex-control-paging li a{
	background: url(../images/dot.png) no-repeat 0 -16px;
	display: block;
	height: 16px;
	overflow: hidden;
	text-indent: -99em;
	width: 16px;
	cursor: pointer;
}
.flex-control-paging li a.flex-active{
	background-position: 0 0;
}
/*导航及轮播图结束*/

/*主要展示栏（一）开始*/
#content-star-goods {
	width: 100%;
	color: #333;
}
#content-star-goods #star-goods-content {
	width: 1226px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-title{
	line-height: 60px;
	height: 60px;
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-title span{
	font-size: 18px;
	width: 200px;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change{
	width: 82px;
	height: 35px;
	float: right;
	margin-top: 10px;
	border: 1px solid #ddd;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	color: #337ab7;
	line-height: 35px;
	text-align: center;
	font-family: "Comic Sans MS", cursive;
	border-radius: 4px;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change #star-goods-content-prave {
	width: 40px;
	height: 35px;
	float: left;
	font-size: 25px;
	cursor: pointer;
	font-family: "Comic Sans MS", cursive;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #ddd;
}
#content-star-goods #star-goods-content #star-goods-content-title #star-goods-content-change #star-goods-content-next {
	width: 40px;
	height: 35px;
	float: right;
	font-size: 25px;
	border-right: 1px solid #ddd;
	cursor: pointer; 
	font-family: "Comic Sans MS", cursive;
}
#content-star-goods #star-goods-content #star-goods-content-goods{
    width: 1226px;
    height: 345px;
    overflow: hidden;
    position: relative;
}
#content-star-goods #star-goods-content #star-goods-content-goods ul{
	width: 2500px;
	height: 300px;
	position: absolute;
	left: 0px;
	overflow: hidden;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
}
#content-star-goods #star-goods-content #star-goods-content-goods li{
	width: 237px;
	height: 300px;
	padding-top: 20px;
	margin-right: 10px;
	background: #fafafa;
	float: left;
	text-align: center;
	border-top: 1px solid #1d7ad9;
}
#content-star-goods #star-goods-content #star-goods-content-goods img{
	height: 160px;
	width: 160px;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a{
	display: block;
	font-family: "微软雅黑";
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(2) {
	font-size: 13px;
	color: #212121;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(3) {
	font-size: 12px;
	color: #B0B0B0;
	margin-top: 3px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
}
#content-star-goods #star-goods-content #star-goods-content-goods li a:nth-child(4) {
	font-size: 14px;
	color: #1d7ad9;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 12px;
	margin-left: auto;
}
/*主要展示栏（一）结束*/

/*主要展示栏（二）开始*/
#main-show-box{
	width: 100%;
	background: #f5f5f5;
	padding-bottom: 80px;
	clear: both;
}
#main-show-box .list-title{
	margin: 0 auto;
	clear: both;
	width: 1226px;
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 10px;
}
#main-show-box .list-title p{
	float:left;
	height:42px;
	width:1165px;
	display:block;
	position:relative;
	border-bottom:solid 2px #dfdfdf;
}
#main-show-box .list-title p strong{
	font-size: 18px;
	padding-left: 10px;
	line-height: 40px;
	position: absolute;
	FONT-FAMILY: "Microsoft Yahei";
}
#main-show-box .list-title a{
	float:right;
	width:57px;
	height:18px;
	color:#828282;
	display:block;
	font-size:12px;
	text-align:center;
	line-height:18px;
	margin-top:30px;
	border:solid 1px #dfdfdf;
	FONT-FAMILY: "Microsoft Yahei";
}
#main-show-box .list-title a:hover{
	background-color:#f2f2f2;
}
#main-show-box .main-show-box-goods{
	width: 1226px;
	clear: both;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#main-show-box .main-show-box-goods ul{
	height: 100%;
}
#main-show-box .main-show-box-goods ul li{
	width: 234px;
	height: 300px;
	float: left;
	text-align: center;
	position: relative;
	background: #ffffff;
	margin-top: 10px;
	margin-left: 10px;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	padding-top: 20px;
}
#main-show-box .main-show-box-goods ul li img{
	height: 160px;
	width: 160px;
}
#main-show-box .main-show-box-goods ul li a{
	display: block;
	font-family: "微软雅黑";
}
#main-show-box .main-show-box-goods ul li a:nth-child(2) {
	font-size: 13px;
	color: #212121;
	margin-top: 15px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
#main-show-box .main-show-box-goods ul li a:nth-child(3) {
	font-size: 12px;
	color: #B0B0B0;
	margin-top: 3px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
	width:200px;
}
#main-show-box .main-show-box-goods ul li a:nth-child(4) {
	font-size: 14px;
	color: #1d7ad9;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
/*主要展示栏（二）结束*/
