/** 分类页面导航栏*/
@charset "UTF-8";

.xm-box a, .xm-box .keyword {
	color: #ff6700
}
.xm-box .sep {
	color: #b0b0b0
}
.breadcrumbs {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
	background: #f5f5f5;
	color: #616161
}

.breadcrumbs a {
	color: #757575
}

.breadcrumbs a:hover {
	color: #424242
}

.breadcrumbs .sep {
	margin: 0 0.5em;
	color: #b0b0b0
}

/** 分类页面主题内容*/
.content {
	padding: 20px 0 100px;
	background: #f5f5f5
}

.filter-box {
	padding: 18px 0
}

.filter-box .box-hd {
	padding: 15px 0 23px;
	color: #424242
}

.filter-box .box-hd .title {
	margin: 0 0 12px;
	font-size: 20px;
	font-weight: 400
}

.filter-box .box-hd .tip {
	margin: 0 0 20px
}

.filter-box .box-hd a, .filter-box .box-hd .keyword {
	color: #ff6700
}

.filter-box .box-hd .sep {
	color: #b0b0b0
}

.filter-list-wrap, .filter-selected-list-wrap, .full-toggle-wrap {
	border-top: 1px solid #e0e0e0
}

.filter-list-wrap:first-child, .filter-selected-list-wrap:first-child,
	.full-toggle-wrap:first-child {
	border-top: 0
}

.filter-list-wrap {
	position: relative
}

.filter-list-wrap .more {
	position: absolute;
	right: 0;
	top: 10px;
	height: 24px;
	line-height: 24px;
	color: #757575;
	display: none;
}

.filter-list-wrap .more i {
	font-size: 15px;
	line-height: 15px;
	vertical-align: -2px;
	margin-left: 5px;
}

.filter-list, .selected-list {
	position: relative;
	padding-left: 70px;
	min-height: 45px;
	margin: 0
}

.filter-list dt, .selected-list dt {
	position: absolute;
	left: 0;
	top: 11px;
	width: 72px;
	color: #b0b0b0
}

.filter-list dd, .selected-list dd {
	float: left;
	margin: 0
}

.filter-list {
	width: 1032px;
	height: 45px;
	overflow: hidden;
	_zoom: 1;
	-webkit-transition: height .3s ease-in;
	transition: height .3s ease-in
}

.filter-list dd {
	width: 160px;
	padding: 12px 0
}

.filter-list dd.active {
	color: #ff6700
}

.filter-list a {
	color: #424242
}

.filter-list a:hover {
	color: #ff6700
}

.filter-list .active a {
	color: #ff6700
}

.selected-list dt {
	top: 26px
}

.selected-list dd {
	padding: 20px 0;
	margin-right: 14px;
	font-size: 12px
}

.selected-list a {
	display: block;
	position: relative;
	height: 18px;
	padding: 5px 58px 5px 20px;
	border: 1px solid #b0b0b0;
	color: #424242;
	-webkit-transition: all .2s;
	transition: all .2s
}

.selected-list a:hover {
	border-color: #e53935;
	color: #e53935
}

.selected-list a:hover .iconfont {
	background-color: #e53935
}

.selected-list a .iconfont {
	position: absolute;
	right: 0;
	top: 0;
	width: 28px;
	height: 28px;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	background-color: #b0b0b0;
	color: #fff;
	-webkit-transition: all .2s;
	transition: all .2s
}

.full-toggle-wrap {
	height: 24px;
	padding: 18px 0 0;
	text-align: center
}

.full-toggle-wrap .full-toggle i {
	font-size: 24px;
	line-height: 24px;
	vertical-align: -4px
}

.full-toggle-wrap .full-toggle:focus {
	outline: 0
}

.filter-list-wrap-toggled .filter-list-row-1 {
	height: 45px
}

.filter-list-wrap-toggled .filter-list-row-2 {
	height: 90px
}

.filter-list-wrap-toggled .filter-list-row-3 {
	height: 135px
}

.filter-list-wrap-toggled .filter-list-row-4 {
	height: 180px
}

.filter-list-wrap-toggled .filter-list-row-5 {
	height: 225px
}

.order-list-box {
	height: 30px;
	margin: 20px 0;
	overflow: hidden;
	position: relative;
	zoom: 1
}

.order-list-box .order-list {
	float: left;
	height: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.order-list-box .order-list li {
	float: left;
	padding: 0 30px;
	border-left: 1px solid #e0e0e0;
	line-height: 20px
}

.order-list-box .order-list li.first {
	padding-left: 0;
	border-left: 0
}

.order-list-box .order-list li.active a {
	color: #ff6700
}

.order-list-box .order-list li a {
	color: #424242;
	-webkit-transition: color .2s;
	transition: color .2s
}

.order-list-box .order-list li a:hover {
	color: #ff6700
}

.order-list-box .order-list i {
	font-size: 13px;
	line-height: 13px;
	vertical-align: -1px
}

.order-list-box .type-list {
	float: right;
	height: 20px;
	margin: 0;
	padding: 0;
	list-style-type: none
}

.order-list-box .type-list li {
	float: left;
	margin-left: 30px
}

.order-list-box .type-list a {
	color: #424242;
	-webkit-transition: color .2s;
	transition: color .2s
}

.order-list-box .type-list a:hover {
	color: #ff6700
}

.order-list-box .type-list .checkbox {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 18px;
	height: 18px;
	margin-right: 8px;
	border: 1px solid #e0e0e0;
	background-color: #fff;
	vertical-align: -2px;
	font-size: 16px;
	line-height: 18px;
	text-align: center
}

.order-list-box .type-list .checkbox i {
	visibility: hidden
}

.order-list-box .type-list .checkbox-checked {
	background-color: #ff6700;
	border-color: #ff6700;
	color: #fff
}

.order-list-box .type-list .checkbox-checked i {
	visibility: visible
}

.goods-list-box {
	width: 1226px
}

.goods-list {
	width: 1240px;
	margin: 0;
	list-style-type: none
}

.goods-item {
	position: relative;
	float: left;
	width: 296px;
	height: 430px;
	padding-top: 47px;
	margin-right: 14px;
	margin-bottom: 14px;
	text-align: center;
	background: #fff;
	-webkit-transition: -webkit-box-shadow .5s linear;
	transition: box-shadow .5s linear
}

.goods-item:hover {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2)
}

.goods-item:hover .actions .btn-like, .goods-item:hover .actions .btn-buy
	{
	opacity: 1;
	filter: alpha(opacity = 100) \9
}

.goods-item .figure-img {
	width: 200px;
	height: 200px;
	margin: 0 auto 16px
}

.goods-item .figure-img a {
	display: block
}

.goods-item .figure-img img {
	width: 200px;
	height: 200px
}

.goods-item .desc {
	margin: 15px 0 3px;
	height: 18px;
	font-size: 12px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	_zoom: 1;
	color: #b0b0b0
}

.goods-item .title {
	margin: 0 0 3px;
	font-size: 14px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	_zoom: 1
}

.goods-item .title a {
	color: #424242
}

.goods-item .price {
	margin: 0 0 15px;
	color: #ff6700
}

.goods-item .price del {
	color: #b0b0b0
}

.goods-item .price .num {
	margin-right: .25em
}

.goods-item .thumbs {
	width: 100%;
	height: 69px;
	overflow: hidden;
	_zoom: 1
}

.goods-item .thumb-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 0
}

.goods-item .thumb-list li {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 36px;
	height: 36px;
	margin: 0 4px;
	border: 1px solid #e0e0e0;
	cursor: pointer;
	-webkit-transition: border-color .2s linear;
	transition: border-color .2s linear
}

.goods-item .thumb-list li.active, .goods-item .thumb-list li:hover {
	border-color: #ff6700
}

.goods-item .xm-carousel-container {
	position: relative
}

.goods-item .xm-carousel-container .control {
	position: absolute;
	top: 50%;
	margin-top: -24px;
	font-size: 16px;
	line-height: 24px
}

.goods-item .xm-carousel-container .control-prev {
	left: 10px
}

.goods-item .xm-carousel-container .control-next {
	right: 10px
}

.goods-item .xm-carousel-wrapper {
	width: 212px;
	margin: 0 auto
}

.goods-item .xm-carousel-wrapper .thumb-list li {
	float: left;
	_display: inline;
	margin: 0 8px 0 0
}

.goods-item .actions .btn-like, .goods-item .actions .btn-buy {
	position: absolute;
	top: 20px;
	z-index: 3;
	height: 24px;
	padding: 3px 4px;
	font-size: 12px;
	color: #424242;
	opacity: 0;
	filter: alpha(opacity = 0) \9;
	-webkit-transition: all .2s linear;
	transition: all .2s linear
}

.goods-item .actions .btn-like:hover, .goods-item .actions .btn-buy:hover
	{
	color: #424242
}

.goods-item .actions .btn-like:hover span, .goods-item .actions .btn-buy:hover span
	{
	opacity: 1;
	filter: alpha(opacity = 100) \9
}

.goods-item .actions .btn-like:focus, .goods-item .actions .btn-buy:focus
	{
	outline: 0
}

.goods-item .actions .btn-like {
	left: 20px
}

.goods-item .actions .btn-liked i {
	color: #e53935
}

.goods-item .actions .btn-buy {
	right: 20px
}

.goods-item .actions i {
	font-size: 24px;
	line-height: 24px;
	vertical-align: -5px;
	color: #424242
}

.goods-item .actions span {
	opacity: 0;
	filter: alpha(opacity = 0) \9;
	-webkit-transition: opacity .2s linear;
	transition: opacity .2s linear
}

.goods-item .flags {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	max-height: 40px;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	_zoom: 1
}

.goods-item .flags .flag {
	height: 18px;
	padding: 1px 20px;
	color: #fff
}

.goods-item .flags .flag-new {
	background-color: #83c44e
}

.goods-item .flags .flag-saleoff {
	background-color: #e53935
}

.goods-item .flags .flag-postfree {
	background-color: #ffac13
}

.goods-item .flags .flag-gift {
	background-color: #2196f3
}

.goods-item .flags .flag-saleoff2 {
	background-color: #2196f3;
}

.goods-item .notice {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 5;
	width: 276px;
	opacity: 0;
	filter: alpha(opacity = 0) \9;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: all .2s linear;
	transition: all .2s linear
}

.goods-item .notice .btn {
	opacity: .95;
	filter: alpha(opacity = 95) \9
}

/** 为你推荐*/
.xm-recommend-title {
	position: relative;
	margin: 0;
	height: 50px;
	font-size: 30px;
	font-weight: 400;
	color: #757575;
	border-top: 1px solid #e0e0e0;
	-webkit-font-smoothing: antialiased
}

.xm-recommend-title span {
	position: absolute;
	top: -20px;
	left: 372px;
	height: 40px;
	width: 482px;
	line-height: 40px;
	text-align: center;
	display: block;
	background-color: #f5f5f5
}

.xm-recommend-container {
	margin-top: 60px
}

.xm-pagers-wrapper {
	text-align: center
}

.xm-pagers {
	margin: 0;
	padding: 0;
	list-style-type: none
}

.xm-pagers .dot {
	display: block;
	width: 10px;
	height: 10px;
	border: 2px solid #f5f5f5;
	border-radius: 6px;
	text-align: left;
	text-indent: -9999em;
	overflow: hidden;
	_zoom: 1;
	background-color: #b0b0b0;
	-webkit-transition: all .5s;
	transition: all .5s
}

.xm-pagers .pager {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	width: 10px;
	height: 10px;
	padding: 10px;
	margin: 0 2px;
	cursor: pointer
}

.xm-pagers .pager:hover .dot {
	background: #ff6700
}

.xm-pagers .pager-active {
	cursor: default
}

.xm-pagers .pager-active .dot, .xm-pagers .pager-active:hover .dot {
	border-color: #ff6700;
	background-color: #f5f5f5;
	background-color: transparent
}

/*-------------分页-----------------*/
.xm-pagenavi {
	height: 120px;
	padding: 15px 0;
	text-align: center
}

#pager {
	display: table;
	margin: auto;
	height: 80px;
	padding: 15px 0;
	text-align: center
}

#pager ul.pages {
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	margin: 10px 0 50px;
	padding: 0;
	font: normal 16px "Microsoft YaHei";
	font-family: "Microsoft YaHei", "微软雅黑", "sans-serif";
}

#pager ul.pages li {
	float: left;
	padding: 4px 7px;
	text-decoration: none;
	border-left-width: 0;
	list-style: none;
	background-color: #eee;
	color: #888;
	margin: 0 5px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}

#pager ul.pages li.pgEmpty {
	display: none;
}

#pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #29c06d;
}

/*-------------错误提示-----------------*/
.shop-global-error {
	padding: 150px 0 200px 10%;
	background: url(../img/server_busy.jpg) no-repeat 80% center
}

.shop-global-error h2 {
	width: 50%;
	line-height: 2.25;
	padding-bottom: 30px
}

.shop-global-error-tips {
	width: 50%;
	line-height: 1.8
}

.shop-global-error-btn {
	margin-top: 20px
}

.shop-global-error-btn a {
	margin-right: 10px
}