@charset "utf-8";
.u-r-cont .title{
	font-size: 30px;
	font-weight: 400;
	line-height: 68px;
	color: #757575;
	margin-left: 10px;
	margin-bottom: 20px;
}
.u-r-cont small{
	font-size:12px;
	line-height:1.5;
}
.c-infor-tabTitle.c-tab-title{
	text-align: left;
	float: left;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 10px;
	margin-left: 0;
}

.c-tab-title{
	margin-bottom: 10px;
}
.h-r-search {
	float: right;
	margin: -5px 0 0 0;
}
.h-r-s-box {
	display: block;
	position: relative
}
.h-r-s-box input:focus {
	border-color: #ddd;
	color: #666;
	width: 280px;
	outline:0;
}
.h-r-s-box input {
	border: 1px solid #e8e8e8;
	border-radius: 20px;
	color: #aaa;
	padding: 0 15px;
	font-size: 12px;
	font-family: 'Microsoft YaHei';
	width: 260px;
	height: 35px;
	line-height: 35px;
	transition: .3s;
	-webkit-transition: .3s
}
.h-r-s-box .s-btn {
	background: 0 0;
	border: none;
	position: absolute;
	right: 3px;
	top: 2.5px;
	width: 30px;
	height: 30px;
	cursor: pointer
}
.icon18 {
	display: inline-block;
	height: 18px;
	width: 18px;
	vertical-align: middle
}
.u-account-box{
	padding:0;
}
.order-list{
	padding:10px 0;
	list-style-type:none;
}
.uc-order-item{
	margin-bottom:20px;
	border:1px solid #e0e0e0;
}
.uc-order-item-finish{
	border-color:#b0b0b0;
}
.uc-order-item-pay{
	border-color:#1d7ad9;
}
.uc-order-item-pay .order-status{
	color:#1d7ad9;
}
.uc-order-item-pay .order-summary {
    background: #f3f8fd;
}

.uc-order-item-shipping{
	border-color:#83c44e;
}
.uc-order-item-shipping .order-status{
	color:#83c44e;
}
.uc-order-item-shipping .order-summary{
	background:#fbfff6;
}
.uc-order-item-receipt{
	border-color:#ff6700;
}
.uc-order-item-receipt .order-status{
	color:#ff6700;
}
.uc-order-item-receipt .order-summary{
	background:#fffaf7;
}
.order-summary{
	padding: 25px 30px 15px;
}
.order-status{
	color:#b0b0b0;
	font-size:18px;
}
.order-desc{
	color:#1d7ad9;
}
.order-detail-table{
	width:100%;
	border-collapse:collapse;
	border-spacing:0px;
}
.uc-order-item .order-detail-table th{
	border-bottom:1px solid #e0e0e0;
	height: 28px;
	padding:0 30px 24px;
	font-weight:400;
	text-align:left;
	color:#757575;
	vertical-align:bottom;
}
.uc-order-item-pay .order-detail-table th{
	background: #f3f8fd;
	border-bottom: 1px solid #7eb4eb;
}
.uc-order-item-shipping .order-detail-table th{
	background:#fbfff6;
	border-bottom:1px solid #cfeeab
}
.uc-order-item-receipt .order-detail-table th{
	background:#fffaf7;
	border-bottom:1px solid #feccac;
}
.order-detail-table th.col-main{
	padding-right: 10px;
	font-size: 13.5px;
}
.order-list-box .order-detail-table th .sep {
    color: #e0e0e0;
	margin: 0 .25em;
	font-family: sans-serif;
}
.order-detail-table th.col-sub{
	width:240px;
	padding-left:10px;
	text-align:right;
	font-size: 13.5px;
}
.order-detail-table th .num {
    height: 18px;
    margin-right: 5px;
    font-size: 28px;
    font-weight: 200;
    line-height: 1;
    color: #333;
}
.order-detail-table td{
	padding:0 30px;
}
.goods-list{
	margin:0;
	padding: 10px 0;
	list-style-type: none;
}
.goods-list li{
	position:relative;
	margin: 10px 0;
	padding: 18px 18px 18px 100px;
	line-height: 22px;
	color:#333;
}
.goods-list .figure-thumb{
	position:absolute;
	left: 0px;
	top: 0px;
}
.goods-list .name{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}
.order-detail-table .order-actions{
	padding-top: 20px;
	text-align: right;
	vertical-align:top;
}
.order-detail-table .order-actions .btn{
	display:block;
	margin:0 0 10px auto;
}

.btn-line-gray{
	border-color:#b0b0b0;
	background:#fff;
	color:#757575;
}
.btn-line-gray:hover{
	color: #fff;
	background-color: #757575;
	border-color: #757575;
}
.btn-small{
	width:118px;
	height: 30px;
	font-size:12px;
}

.btn-gray {
	background: #b0b0b0;
	border-color: #b0b0b0;
	color: #fff
}

.btn-gray:hover {
	background-color: #757575;
	border-color: #757575;
	color: #fff
}

.btn-primary {
	background: #ff6700;
	border-color: #ff6700;
	color: #fff
}

.btn-primary:hover {
	background-color: #f25807;
	border-color: #f25807;
	color: #fff
}

.btn-green {
	background: #83c44e;
	border-color: #83c44e;
	color: #fff
}

.btn-green:hover {
	background-color: #71b639;
	border-color: #71b639;
	color: #fff
}

.btn-orange {
	background: #ffac13;
	border-color: #ffac13;
	color: #fff
}

.btn-orange:hover {
	background-color: #ff920f;
	border-color: #ff920f;
	color: #fff
}

.btn-gold {
	background: #ffd600;
	border-color: #ffd600;
	color: #fff
}

.btn-gold:hover {
	background-color: #fec517;
	border-color: #fec517;
	color: #fff
}

.btn-ocean {
	background: #2196f3;
	border-color: #2196f3;
	color: #fff
}

.btn-ocean:hover {
	background-color: #0c80dc;
	border-color: #0c80dc;
	color: #fff
}

.btn-blue {
	background: #545ad0;
	border-color: #545ad0;
	color: #fff
}

.btn-blue:hover {
	background-color: #494fc5;
	border-color: #494fc5;
	color: #fff
}

.btn-red {
	background: #e53935;
	border-color: #e53935;
	color: #fff
}

.btn-red:hover {
	background-color: #e42a27;
	border-color: #e42a27;
	color: #fff
}

.btn-purple {
	background: #a31daf;
	border-color: #a31daf;
	color: #fff
}

.btn-purple:hover {
	background-color: #9715a2;
	border-color: #9715a2;
	color: #fff
}

.btn-pink {
	background: #f93e7a;
	border-color: #f93e7a;
	color: #fff
}

.btn-pink:hover {
	background-color: #e9306c;
	border-color: #e9306c;
	color: #fff
}

.btn-cyan {
	background: #00c0a5;
	border-color: #00c0a5;
	color: #fff
}

.btn-cyan:hover {
	background-color: #03b3ad;
	border-color: #03b3ad;
	color: #fff
}

.btn-line-gray {
	border-color: #b0b0b0;
	background: #fff;
	color: #757575
}
.btn-line-gray:hover {
	color: #fff;
	background-color: #757575;
	border-color: #757575
}
.u-r-cont .page{
	clear: both;
	width: 100%;
	margin: auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom:40px;
}
.u-r-cont .page #pager{
	display: table;
	margin: auto;
}
#pager ul.pages {
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 12px;
	margin: 10px 0 50px;
	padding: 0;
	font: normal 14px "Microsoft YaHei";
	font-family: "Microsoft YaHei","微软雅黑","sans-serif";
}
#pager ul.pages li {
	float: left;
	padding: 8px 10px;
	text-decoration: none; /*border: 1px solid #dddddd;*/;
	border-left-width: 0;
	list-style: none;
	background-color: #eee;
	color: #888;
	margin: 0 3px 0 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}
#pager ul.pages li.pgNext {
}
#pager ul.pages li.pgEmpty {
	display: none /*border:1px solid #eee;
color:#eee;
*/;
}
#pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #29c06d;
}
