<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pussinboots.morning.os.modules.content.mapper.AdvertMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.pussinboots.morning.os.modules.content.entity.Advert">
		<id column="advert_id" property="advertId" />
		<result column="name" property="name" />
		<result column="width" property="width" />
		<result column="height" property="height" />
		<result column="description" property="description" />
		<result column="template" property="template" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        advert_id AS advertId, name, width, height, description, template
    </sql>
</mapper>
