<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pussinboots.morning.os.modules.content.mapper.AdvertDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.pussinboots.morning.os.modules.content.entity.AdvertDetail">
		<id column="advert_detail_id" property="advertDetailId" />
		<result column="title" property="title" />
		<result column="advert_id" property="advertId" />
		<result column="sort" property="sort" />
		<result column="href" property="href" />
		<result column="status" property="status" />
		<result column="pic_img" property="picImg" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        advert_detail_id AS advertDetailId, title, advert_id AS advertId, sort, href, status, pic_img AS picImg, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, remarks
    </sql>
    
    <!-- 根据广告默认数量和广告状态查找广告列表-->
    <select id="selectByStatus" resultType="com.pussinboots.morning.os.modules.content.entity.AdvertDetail">
    	SELECT
    		title, 
    		sort, 
    		href, 
    		pic_img AS picImg
    	FROM
    		os_advert_detail 
    	WHERE
    		status = #{status}
    	AND advert_id = #{advertId}
		ORDER BY
			sort ASC
		LIMIT #{defultNumber}
    </select>
</mapper>
