<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pussinboots.morning.os.modules.content.mapper.CommentMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.pussinboots.morning.os.modules.content.entity.Comment">
		<id column="comment_id" property="commentId" />
		<result column="product_id" property="productId" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="pic_img" property="picImg" />		
		<result column="order_id" property="orderId" />
		<result column="star" property="star" />
		<result column="content" property="content" />
		<result column="good_count" property="goodCount" />
		<result column="bad_count" property="badCount" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>
	
	<resultMap type="com.pussinboots.morning.os.modules.content.vo.CommentVO" id="CommentVOResultMap">
	    <association property="comment" javaType="com.pussinboots.morning.os.modules.content.entity.Comment">
			<id column="comment_id" property="commentId" />
			<result column="product_id" property="productId" />
			<result column="user_id" property="userId" />
			<result column="user_name" property="userName" />
			<result column="pic_img" property="picImg" />	
			<result column="star" property="star" />
			<result column="content" property="content" />
			<result column="good_count" property="goodCount" />
			<result column="create_time" property="createTime" />
	    </association>
  	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id AS commentId, product_id AS productId, user_id AS userId, user_name AS userName, pic_img AS picImg, order_id AS orderId, star, content, good_count AS goodCount, bad_count AS badCount, status, type, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>
    
    <!-- 根据商品ID、排序、分页查找评论列表及回复列表 -->
    <select id="selectCommentsByPage" resultMap="CommentVOResultMap">
		SELECT
			comment_id,
			user_id,
			user_name,
			pic_img,
			star,
			content,
			good_count,
			create_time
		FROM
			os_comment
		WHERE
			status = #{status}
		AND product_id = #{productId}
		ORDER BY 
			${pageInfo.sort} ${pageInfo.order}
    </select>
    
    <!-- 根据商品ID、排序、分页查找评论列表及回复列表 -->
    <select id="selectCommentsPage" resultMap="CommentVOResultMap">
		SELECT
			c.comment_id,
			c.user_id,
			c.user_name,
			c.pic_img,
			c.star,
			c.content,
			c.good_count,
			c.create_time,
			r.comment_reply_id,
			r.user_id AS reply_user_id,
			r.user_name AS reply_user_name,
			r.pic_img AS reply_pic_img,
			r.content AS reply_content,
			r.good_count AS reply_good_count,
			r.type
		FROM
			os_comment c
		LEFT JOIN (
			SELECT
				comment_reply_id,
				comment_id,
				user_id,
				user_name,
				pic_img,
				content,
				good_count,
				status,
				type
			FROM
				os_comment_reply
			WHERE
				status = #{status}
			ORDER BY
				type DESC,
				comment_reply_id DESC
		) r ON c.comment_id = r.comment_id
		WHERE
			c. STATUS = #{status}
		AND product_id = #{productId}
		ORDER BY 
			${pageInfo.sort} ${pageInfo.order}
    </select>
</mapper>
