/*样式重置开始*/
a{outline:none}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form, 
fieldset,input,textarea,p,blockquote,th,td { 
	margin:0; 
	padding:0; 
} 
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
table{
	border-collapse:collapse;
	border-spacing:0;
	border:0;
}
ol,ul { 
	list-style:none; 
} 
h1,h2,h3,h4,h5,h6 { 
	font-size:100%; 
	font-weight:normal; 
} 
a,img{
	border:0;
	color:#333;
	text-decoration:none;
}
a:focus,a:hover{color:#23527c;text-decoration:none}
.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0
}
#page-containner {
	font:14px/1.5 arial,"Microsoft Yahei","Hiragino Sans GB",sans-serif;
	width: 100%;
	margin: auto;
	padding: 0px;
}/*页面内容控制*/


/*顶部导航开始*/
#mian-nav {
	height: 40px;
	background-attachment: scroll;
	background-color:#333;;
	background-image: none;
	background-repeat: repeat;
}
.mian-nav-content {
	margin-right: auto;
	margin-left: auto;
	width: 1226px;
	height: 40px;
}
.mian-nav-content .mian-nav-row a {
	color: #b0b0b0;
}
.mian-nav-content .mian-nav-row a:hover{
	color: #FFFFFF;
}
.mian-nav-content .mian-nav-row span {
	color: #b0b0b0;
	margin: 0.5em;
	font-size: 12px;
	font-style: inherit;
}
.mian-nav-content .mian-nav-row .mian-nav-left {
	position: relative;
	text-align: left;
	font-size: 13px;
	line-height: 40px;
	float: left;
	color: #b0b0b0;
}
.mian-nav-content .mian-nav-row .mian-nav-right {
	text-align: center;
	font-size: 13px;
	line-height: 40px;
	float: right;
	color: #b0b0b0;
}
.mian-nav-content .mian-nav-row .mian-nav-right #mian-nav-right-login {
	float: left;
	margin-right: 15px;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-user {
	float: left;
	margin-right: 15px;
	width: 110px;
	position: relative;
	background-image: url(../images/arrow.png);
	background-repeat: no-repeat;
	background-position: 100px 20px;
	display: none;
	cursor:pointer;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-user  .user-content{
	background-color: #FFF;
	-webkit-box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
	box-shadow: 0px 5px 10px rgba(0,0,0,0.15);
	z-index: 999;
	position: absolute;
	width: 110px;
	color: #424242;
	display: none;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-user  .user-content  ul {
	margin-top: 5px;
	margin-bottom: 5px;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-user  .user-content  ul li{
	line-height: 30px;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-user  .user-content  ul li a{
	color: #424242;
	padding:5px 28px;
}
.mian-nav-content .mian-nav-row .mian-nav-right .mian-nav-right-order {
	float: left;
	margin-right: 15px;
	display: none;
}

#mian-nav-right-car{
	float: right;
	width: 110px;
	position: relative;
	background-color: #424242;
}
#mian-nav-right-car:hover{
	background-color: #FFFFFF;
}
#mian-nav-right-car .text{
	font-size: 13px;
}
#mian-nav-right-car #car-content{
	width: 320px;
	position: absolute;
	background-color: #FFF;
	z-index: 999;
	margin-left: -210px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.15);
	box-shadow: 0 5px 10px rgba(0,0,0,0.15);
	display: none;
}
#car-content .cart_content_null{
	color: #000;
	font-size: 12px;
	line-height: 90px;
	text-align: center;
	clear: both;
	height: 105px;
	width: 320px;
}
#car-content .cart_content_all ul{
	width: 295px;
	margin: auto;
	padding-top: 10px;
}
#car-content .cart_content_all ul li{
	overflow: hidden;
	padding-top: 15px;
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 15px;
}
#car-content .cart_content_all ul li{
	overflow: hidden;
	padding-top: 15px;
	border-bottom: solid 1px #dfdfdf;
	padding-bottom: 15px;
}
#car-content .cart_content_all ul li:last-child{
	border-bottom: #dfdfdf;
}
#car-content .cart_content_all ul li a img{
	width:60px;
	height:60px;
	float:left;
}
#car-content .cart_content_all ul li p{
	width: 100px;
	float: left;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	margin:10px 0;
	padding-left: 10px;
	overflow: hidden;
}
#car-content .cart_content_all ul li p a{
	color: #000;
}
#car-content .cart_content_all ul li p a:hover{
	color:#1d7ad9;
}
#car-content .cart_content_all ul li span{
	color: #000;
	float:left;
	width:95px;
	text-align:center;
}
#car-content .cart_content_all ul li ins{
	float:right;
	color: #000;
	cursor:pointer;
	padding-right:10px;
	text-decoration:none;
}
#car-content .cart_content_all .cart-btn{
	margin: auto;
	padding: 15px 20px;
	background-color: #fafafa;
}
#car-content .cart_content_all .cart-btn p{
	color: #666;
	float: left;
	width: 115px;
	font-size: 12px;
	text-align: left;
	line-height: 25px;
}
#car-content .cart_content_all .cart-btn p span{
	color: #1d7ad9;
	clear: both;
	font-size: 24px;
	margin:0px;
}

#car-content .cart_content_all .cart-btn .btn{
	color: #FFF;
	width: 120px;
	display: block;
	cursor: pointer;
	font-size: 14px;
	height: 40px;
	background-color: #1d7ad9;
	float: right;
	margin-top: 10px;
}

/*顶部导航结束*/

/*目录导航栏开始*/
#header{
	clear: both;
	
}
#header #header-content{
	width: 1226px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
#header #header-content #header-content-logo{
	float: left;
	width: 235px;
	height: 100px;
}
#header #header-content #header-content-logo img{
	margin-top: 15px;	
}
#header #header-content #header-content-subpage{
	position: absolute;
	top: 40px;
	left: 120px;
	z-index: 1000;
	width: 115px;
	text-align: center;
	height: 80px;
}
#header #header-content #header-content-subpage a{
	color: #333;
	font-size: 16px;
}
#header #header-content #header-content-subpage span{
	float: right;
}
#header #header-content #header-content-subpage #content {
	height: 460px;
	position: absolute;
	width: 235px;
	color: #424242;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	left: -125px;
	top: 60px;
	border: 1px solid #1d7ad9;
	display: none;
}/*内容栏*/
#header #header-content #header-content-subpage #content #content_menu_wrap {
	width: 233px;
	height: 100%;
	float: left;
	position: absolute;
	background: rgba(255,255,255,1);
	z-index: 600;
}
#header #header-content #header-content-subpage #content #content_menu_wrap .item{
	width: 235px;
	height: 42px;
}
#header #header-content #header-content-subpage #content #content_menu_wrap .active:nth-child(1) {
	margin-top: 20px;
}
.position{
	width: 235px;
	height:458px;
	position:absolute;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li {
	width: 100%;
	height: 42px;
	transition: all 3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	line-height: 40px;
	cursor: pointer;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li a {
	font-size: 14px;
	color: #424242;
	margin-left: 30px;
	float: left;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li .sign {
	float: right;
	font-size: 20px;
	margin-right: 20px;
	font-family: "Comic Sans MS", cursive;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content {
	width: 600px;
	height: 460px;
	display: none;
	z-index: 610;
	position: absolute;
	top:0px;
	left: 234px;
	background: #fff;
	border: 3px solid #e0e0e0;
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	margin-left: 1px;
}

#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content .content_menu_content_ul{
	float: left;
	width: 280px;
}

#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content .content_menu_content_ul img{
	height: 40px;
	width: 40px;
	margin-right:10px;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content .content_menu_content_ul li{
	width: 250px;
	height: 76px;
	padding: 18px;
	float: left;
}

#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content .content_menu_content_ul li a{
	color: #424242;
	margin-left: 10px;
	font-size: 12px;
}
#header #header-content #header-content-subpage #content #content_menu_wrap li .content_menu_content .content_menu_content_ul li a:hover{
	color: #1d7ad9;
}
#header #header-content #header-content-nav{
	float: left;
	height: 100%;
	width: auto;
	font-size: 16px;
	margin-left: 5px;
}
#header #header-content #header-content-nav ul li{
	float: left;
	line-height: 100px;
	text-align: center;
	padding: 0 15px;
	cursor: pointer;
}
#header #header-content #header-content-nav ul li a{
	color: #333;
}
#header #header-content #header-content-nav ul li a:hover{
	color:#1d7ad9;
}
#header #header-content #header-content-nav ul li span{
	color: #83521e;
	font-size: 12px;
	margin-right: 30px;
}
#header #header-content #header-content-search{
	float: right;
	height: 100%;
	text-align: right;
	position: relative;
}
/*目录导航栏结束*/

/*路径导航栏开始*/
.breadcrumbs{
	line-height: 35px;
	color: #616161;
	background-color: #f5f5f5;
	height: 35px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin-top:5px;
}
.container{
	width: 1226px;
	margin: auto;
}
.sep{
	margin: 0 0.5em;
	color: #b0b0b0;
	
}

/*搜索栏开始*/
.zySearch{
	float: left;
	top: 0px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.zySearch .search-img{ 
    background: url("../images/chicken.gif") no-repeat scroll left top transparent;
    display: block;
    height: 0;
    left: 39%;
    margin-left: -12px;
    position: absolute;
    top: 10px;
    width: 24px;
}

.zySearch .search-input{ 
	color: #999;
	border: 1px solid #D0D0D0;
    height: 33px;
    line-height: 33px;
    margin-right: 5px;
    padding: 0 10px;
    width: 268px;
}

.zySearch .search-btn{
    background: none repeat scroll 0 0 #1d7ad9;
    border: 0 none;
    border-radius: 0;
    color: #FFFFFF;
    cursor: pointer;
    height: 35px;
    line-height: 33px;
    padding: 0;
    vertical-align: baseline !important;
    width: 76px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    position: relative;
}
/*搜索栏结束*/


/*底部页脚栏开始*/
.footer {
	width: 100%;
	clear: both;
	background: #fafafc;
}
.footer .footer-content{
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
}
.footer .footer-content .footer-content-top{
	width: 100%;
	height: 80px;
	line-height: 80px;
	border-bottom: 1px solid #e5e5e5;
}
.footer .footer-content .footer-content-top ul{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

.footer .footer-content .footer-content-top ul li{
	float: left;
	color: #616161;
	font-size: 16px;
}
.footer .footer-content .footer-content-top ul li p:hover{
	color:#1d7ad9;
	cursor: pointer;	
}

.footer .footer-content .footer-content-top ul li span {
	margin-right: 6px;
	font-size: 24px;
	line-height: 24px;
	vertical-align: -4px;
}
.footer .footer-content .footer-content-top ul .font_top_i {
	margin: 0 50px;
	font-size: 20px;
	font-weight: 100; 
	color: #e0e0e0;
}
.footer .footer-content .footer-links {
	padding: 40px 0;
	border-bottom: 1px solid #e5e5e5;
}
.footer .footer-content .footer-links .col-links {
	float: left;
	width: 160px;
	margin: 0;
}
.footer .footer-content .footer-links .col-links dt {
	margin: -1px 0 26px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
	font-weight: normal;
}
.footer .footer-content .footer-links .col-links dd {
	margin: 10px 0 0;
	font-size: 12px;
}
.footer .footer-content .footer-links .col-links a {
	color: #757575;
}
.footer .footer-content .footer-links .col-links a:hover {
	color: #1d7ad9;
	text-decoration: none;
}
.footer .footer-content .footer-links .col-contact {
	border-left: 1px solid #e0e0e0;
	height: 112px;
	width: 265px;
	color: #616161;
	float: right;
	text-align: center;
}
.footer .footer-content .footer-links .col-contact a {
	color: #1d7ad9;
	margin-top: 15px;
}
.footer .footer-content .footer-links .col-contact .btn-content{
	display:inline-block;
	padding:6px 12px;
	border: solid 1px #1d7ad9;
}
.footer .footer-content .footer-links .col-contact .btn-content:hover{
	background: #1d7ad9;
	color: #ffffff;
}
.footer .footer-content .footer-links .col-contact .phone {
	margin: 0 0 5px;
	font-size: 22px;
	line-height: 1;
	color: #1d7ad9;
}
.footer .site-info {
	padding: 30px 0;
	font-size: 12px;
}
.footer .site-info .container-fluid{
	width: 1226px;
	margin-right: auto;
	margin-left: auto;
	padding: 0px;
}
.footer .site-info .img-rounded {
	float: left;
	width: 57px;
	margin-right: 10px;
	height: 57px;
	background-image: url(../images/logo4.png);
}
.footer .site-info .info-text {
	float: left;
	color: #b0b0b0;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}
.footer .site-info .info-text p {
	margin: 0;
	line-height: 22px;
}
.footer .site-info .info-text  a {
	color: #757575;
	text-decoration: none;
}
.footer .site-info .info-text  a:hover {
	color: #1d7ad9;
	text-decoration: none;
}
.sep, .ndash{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin-left: 0.25em;
	margin-right:0.25em;
}

.spa {
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	margin-right: 0.25em;
}

.footer .site-info .info-links {
	float: right;
	_display: inline;
	height: 28px;
	margin: 4px 0 0;
}
.footer .site-info .info-links img {
	width: auto;
	height: 28px;
	margin-left: 7px;
}

/*main css*/
.bottom_tools {
	position: fixed;
	z-index: 1070;
	right: 40px;
	bottom: 40px;
}

.bottom_tools>* {
	font: 0/0 a;
	display: block;
	margin-top: 5px;
	color: transparent;
	border: 0;
	background-color: transparent;
	text-shadow: none
}

.qr_img {
	position: absolute;
	top: -189px;
	left: -183px;
	display: none;
}

#scrollUp {
	width: 45px;
	height: 45px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -54px -53px;
	display: none;
}

#scrollUp:hover {
	background-image: url(../images/backgrounds.32.png);
	background-position: -100px -53px
}

#feedback {
	width: 45px;
	height: 45px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -102px 0
}

#feedback:hover {
	background-image: url(../images/backgrounds.32.png);
	background-position: -146px -46px
}

.qr_tool {
	width: 45px;
	height: 45px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -148px 0;
	cursor: pointer;
}

.qr_tool:hover {
	width: 45px;
	height: 45px;
	background-image: url(../images/backgrounds.32.png);
	background-position: -192px -46px;
}

/*底部页脚栏结束*/
