@charset "utf-8";
/*商品详情页开始*/
#content{
	clear: both;
	width: 100%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
#content #content-nav{
	width: 100%;
	background-color: #f5f5f5;
}
#content #content-nav #content-nav-content{
	width: 1226px;
	font-size: 12px;
	color: #616161;
	line-height: 40px;
	height: 40px;
	background-color: #f5f5f5;
	margin-right: auto;
	margin-left: auto;	
}
#content #content-nav #content-nav-content  a{
	color: #757575;
	margin-left: 5px;
}
#content #content-nav #content-nav-content  a:hover{
	color: #1d7ad9;
}

#content .content-main {
	clear:both;
	width:1226px;
	margin:auto;
	overflow:hidden;
}
#content .content-main .small-class{
	clear: both;
	overflow: hidden;
	padding-top: 25px;
	line-height: 40px;
	padding-bottom: 25px;
}

#content .content-main .small-class p{
	color:#8c8c8c;
	font-size:14px;
	font-family: "Microsoft Yahei";
}
#content .content-main .small-class p a{
	font-size:14px;
	padding:0px 25px;
}
#content .content-main .small-class p a:hover{
	color: #1d7ad9;
}

#content .content-main .small-class p .active{
	color:#1d7ad9;
	font-weight:bold;
}

#content .content-main .box-hd{
	clear:both;
	height:50px;
	overflow:hidden;
	line-height:50px;
	font-size:12px;
	background-color:#fafafa;
}
#content .content-main .box-hd .filter-lists{
	float:left;
}
#content .content-main .box-hd .filter-lists ul li{
	float:left;
	color:#333;
	font-size:12px;
}

#content .content-main .box-hd .filter-lists ul li a{
	padding: 0px 20px;
	font-family: "微软雅黑";
	font-size: 14px;
}
.current{
	color:#1d7ad9;
}
#content .content-main .box-hd .filter-lists ul li a:hover{
	color: #1d7ad9;
}
#content .content-main .products-list{
	clear:both;
}

#content .content-main .products-list ul li{
	float: left;
	width: 306px;
	height: 417px;
	border: solid 2px #fff;
	margin-top: 5px;
}

#content .content-main .products-list ul .active{
	border:solid 2px #e6e6e6;
}

#content .content-main .products-list ul li .img{
	width:220px;
	height:220px;
	margin:auto;
	margin-top:40px;
}

#content .content-main .products-list ul li .img img{
	display:block;
	width:100%;
	height:100%;
}

#content .content-main .products-list ul li .w{
	clear:both;
	width:270px;
	margin:auto;
	padding-top:40px;
}

#content .content-main .products-list ul li .w .left{
	float: left;
	color: #000;
	width: 172px;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	FONT-FAMILY: "Microsoft Yahei";
	margin-bottom: 10px;
}

#content .content-main .products-list ul li .w .left p{
	width: 172px;
	overflow: hidden;
	white-space: nowrap;
}

#content .content-main .products-list ul li .w .left a{
	display: block;
	width: 172px;
	overflow: hidden;
	font-variant: normal;
}
#content .content-main .products-list ul li .w .left span{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #1d7ad9;
}

#content .content-main .products-list ul li .w .left a:hover{
	cursor: pointer;
	color: #1d7ad9;
}

#content .content-main .products-list ul li .w .right{
	float: right;
	padding-top: 5px;
	font-size: 13px;
	overflow: hidden;
	FONT-FAMILY: "Microsoft Yahei";
	line-height: 24px;
	height: 50px;
}

#content .content-main .products-list ul li .w .right p{
	color:#999;
	padding-top:10px;
}

#content .content-main .products-list ul li .btn{
	width: 300px;
	visibility: hidden;
	padding:5px 24px;
	border-top: #dfdfdf solid 1px;
}

#content .content-main .products-list ul .active .btn{
	visibility:visible;
}

#content .content-main .products-list ul li .btn1{
	float:left;
	width:120px;
	height:30px;
	color:#1d7ad9;
	display:block;
	font-size:12px;
	margin-right:10px;
	font-weight:bold;
	line-height:25px;
	text-align:center;
	margin-top:5px;
	background-color:#cae4ff;
	border:solid 1px #60a2e4;
}

#content .content-main .products-list ul li .btn1:hover{
	background-color:#b9d8f9;
}

#content .content-main .products-list ul li .btn2{
	float:left;
	width:120px;
	height:30px;
	color:#ffffff;
	display:block;
	font-size:12px;
	font-weight:bold;
	line-height:25px;
	margin-top:5px;
	padding-left:40px;
	background-color:#1d7ad9;
	border:solid 1px #1d7ad9;
	background-image: url(../images/cart3.png);
	background-repeat: no-repeat;
	background-position: 18px center;
}

#content .content-main .products-list ul li .btn2:hover{
	background-color:#1167c0;
}

#content .content-main .clr10{
	clear:both;
	height:10px;
	overflow:hidden;
}

#content .page {
	clear: both;
	width: 1226px;
	margin: auto;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom:100px;
	
}
#content .page #pager{
	display: table;
	margin: auto;
}
#content .page #pager ul.pages {
	display: block;
	border: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: 0;
	font-family: "微软雅黑";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin: 10px 0 50px;
}
#content .page #pager ul.pages li {
	float: left;
	text-decoration: none;
	border-left-width: 0;
	list-style: none;
	background-color: #eee;
	color: #888;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 0;
	margin-left: 0;
	padding-top: 8px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
}
#content .page #pager ul.pages li:hover {
	color: #fff;
	background-color: #3c4852;
}
#content .page #pager ul.pages li.pgNext {
}
#content .page #pager ul.pages li.pgEmpty {
	display: none;
}
#content .page #pager ul.pages li.pgCurrent {
	color: #fff;
	font-weight: 700;
	background-color: #1d7ad9;
}


