@charset "utf-8";
.order_container{
	clear: both;
	width: 100%;
	margin-top: 5px;
	border-top: 2px solid #1d7ad9;
	background: #f5f5f5;
	padding-top: 40px;
	padding-bottom: 40px;
}
.container{
	width: 1226px;
	background: #FFF;
	padding: 38px;
}
.checkout-box-ft {
	padding-top:10px
}
.xm-box {
	border:none;
	margin-bottom:20px
}
.xm-box .box-hd {
	height:44px;
	padding-top:6px;
	margin-bottom:20px;
	border-bottom:1px solid #dfdfdf
}
.xm-box .box-hd .title {
	margin:0;
	color:#333;
	font-size:18px;
	font-weight:400;
}
.xm-address-list {
	margin-left:-10px;
}
.xm-address-list .item {
	float:left;
	display:inline;
	width:270px;
	height:180px;
	padding:15px 18px;
	position:relative;
	border:1px solid #dfdfdf;
	margin:0 0 10px 15px;
	cursor:pointer;
	background:#fafafa
}
.xm-address-list .item:hover {
	background:#f3f3f3
}
.xm-address-list .item .edit-btn {
	display:none;
	width:58px;
	height:18px;
	line-height:18px;
	margin-top:8px;
	text-align:center;
	color:#333;
	font-size:12px;
	cursor:pointer;
	border:1px solid #dfdfdf
}
.xm-address-list .item dt {
	margin:0;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	border-bottom:1px solid #dfdfdf;
	color:#333
}
.xm-address-list .item dt strong {
	float: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
}
.xm-address-list .item dt span {
	float:right
}
.xm-address-list .item dt .tag {
	height:18px;
	line-height:18px;
	margin-top:6px;
	padding:0 10px;
	font-size:12px;
	background:#dfdfdf
}
.xm-address-list .item dd {
	margin:0;
	line-height:1.6;
	color:#6d6d6d
}
.xm-address-list .selected {
	border-color:#1d7ad9;
	background:#fff;
	cursor:default
}
.xm-address-list .selected:hover {
	background:#fff
}
.xm-address-list .selected .edit-btn {
	display:block;
	background:#f3f3f3
}
.xm-address-list .use-new-addr {
	text-align:center;
	color:#8c8c8c
}
.xm-address-list .use-new-addr .icon-add {
	display:block;
	margin-top:37px;
	font-size:36px;
	line-height:1;
	font-weight:normal
}
.xm-edit-addr-backdrop {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity:.3;
	filter:alpha(opacity=30);
	z-index:1040
}
.xm-edit-addr-box {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #1d7ad9;
	z-index: 1050
}
.xm-edit-addr-box .bd {
	padding: 30px 20px 13px;
}
.xm-edit-addr-box .bd .item {
	margin-bottom:10px
}
.xm-edit-addr-box .bd .item label {
	display:none;
	margin-bottom:5px
}
.xm-edit-addr-box .bd .item label span {
	color:#ee330a
}
.xm-edit-addr-box .bd .item .input,.xm-edit-addr-box .bd .item .input-area {
	width:290px;
	height:60px;
	background:#fff;
	border:1px solid #dfdfdf;
	color:#333
}
.xm-edit-addr-box .bd .item .input:focus,.xm-edit-addr-box .bd .item .input-area:focus {
	border-color:#1d7ad9;
	outline:none
}
.xm-edit-addr-box .bd .item .input {
	height:38px;
	line-height:38px;
	padding:10px 16px;
}
.xm-edit-addr-box .bd .item .input-area {
	height:60px;
	line-height:20px;
	padding:5px 10px
}
.xm-edit-addr-box .bd .item .xm-ph-blur {
	color:#8c8c8c
}
.xm-edit-addr-box .bd .item select {
	margin-right:7px;
	margin-bottom:10px;
	border:1px solid #dfdfdf;
	padding:0px 16px;
	height:38px;
}
.xm-edit-addr-box .bd .item select:focus {
	border-color:#1d7ad9;
	outline:none
}
.xm-edit-addr-box .bd .item .select-1,.xm-edit-addr-box .bd .item .select-2 {
	width:140px;
	margin-right: 6px;
	margin-bottom:10px;
}
.xm-edit-addr-box .bd .item .select-2 {
	margin-right:0
}
.xm-edit-addr-box .bd .item .select-3 {
	width:290px;
	margin-bottom:10px;
}
.xm-edit-addr-box .bd .item .zipcode-tip {
	margin:5px 0 0;
	font-size:12px;
	color:#8c8c8c
}
.xm-edit-addr-box .bd .item .tel-modify-tip {
	display:none;
	margin-top:5px;
	color:#8c8c8c;
	font-size:12px
}
.xm-edit-addr-box .bd .item .tel-modify-tip em {
	color:#ee330a
}
.xm-edit-addr-box .bd .item .tip-msg {
	display:none;
	margin-top:5px;
	color:#f32f39;
	font-size:12px
}
.xm-edit-addr-box .ft {
	padding:20px;
	background:#fafafa;
	text-align:center
}
.xm-edit-addr-box .ft .btn {
	width:130px
}
.xm-edit-addr-box .ft .btn-lineDake {
	float:left;
	border-radius:0px;
}
.xm-edit-addr-box .ft .btn-primary {
	float:right;
	border-radius:0px;
}
.xm-address-list .tip {
	margin:0 0 10px 10px;
	color:#d6313a
}
.checkout-option-list li {
	float:left;
	min-width:125px;
	width:180px;
	padding:12px 20px;
	border:1px solid #dfdfdf;
	margin-right:10px;
	background:#fafafa;
	cursor:pointer;
	white-space:nowrap;
	text-align:center;
}
.checkout-option-list li:hover {
	background:#f3f3f3
}
.checkout-option-list li input {
	display: none
}
.checkout-option-list li p {
	color:#333
}
.checkout-option-list li p span {
	display:block;
	line-height:1.2;
	color:#6d6d6d;
	font-size:12px
}
.checkout-option-list .selected {
	border-color:#1d7ad9;
	background:#fff
}
.checkout-option-list .selected:hover {
	background:#fff
}
.e-invoice-tip {
	margin-top:10px;
	font-size:12px;
	color:#6d6d6d
}
.invoice-info {
	width:700px;
	padding:20px 30px;
	margin-top:20px;
	border:1px solid #dfdfdf
}
.nvoice-info-1 p {
	color:#333;
	line-height:1.8
}
.nvoice-info-1 .tip {
	color:#f32f39
}
.nvoice-info-1 dl {
	margin-top:15px;
	font-size:12px;
	color:#8c8c8c
}
.nvoice-info-1 dl dt {
	margin-bottom:8px
}
.invoice-info-2 p {
	color:#333;
	line-height:1.8
}
.invoice-info-2 .type {
	margin-top:5px
}
.invoice-info-2 .type li {
	float:left;
	width:118px;
	height:32px;
	line-height:32px;
	margin-right:10px;
	color:#333;
	text-align:center;
	border:1px solid #dfdfdf;
	cursor:pointer;
	background:#fafafa
}
.invoice-info-2 .type li input {
	display: none
}
.invoice-info-2 .type li:hover {
	background:#f3f3f3
}
.invoice-info-2 .type .selected {
	border-color:#1d7ad9;
	background:#fff
}
.invoice-info-2 .type .selected:hover {
	background:#fff
}
.invoice-info-2 .invoice-title {
	margin-top:20px
}
.invoice-info-2 .invoice-title label {
	display:block;
	margin-bottom:5px;
	color:#333
}
.invoice-info-2 .invoice-title input {
	width:180px;
	border:1px solid #dfdfdf;
	height:38px;
	line-height:38px;
	padding:0 10px
}
.invoice-info-2 .invoice-title input:focus {
	outline:none;
	border-color:#1d7ad9
}
.invoice-info-2 .invoice-title .tip-msg {
	margin-left:10px;
	color:#f32f39
}
.checkout-goods-list {
	margin-bottom:30px;
	overflow:hidden
}
.checkout-goods-list .col-2,.checkout-goods-list .col-3 {
	text-align:center
}
.checkout-goods-list .col-2 {
	width:118px
}
.checkout-goods-list .col-3 {
	width:80px
}
.checkout-goods-list .col-4 {
	width:102px;
	text-align:right
}
.checkout-goods-list dt {
	padding:9px 0;
	font-size:12px;
	line-height:1;
	*line-height:normal;
	background:#fafafa;
	color:#8c8c8c
}
.checkout-goods-list dt .col {
	float:left
}
.checkout-goods-list dt .col-1 {
	width:840px;
	padding-left:20px
}
.checkout-goods-list dt .col-3 {
/*	border-left:1px solid #dfdfdf;
	border-right:1px solid #dfdfdf*/
}
.checkout-goods-list .item {
	display:table;
	padding:10px 0;
	color:#333
}
.checkout-goods-list .item .item-row {
	display:table-row
}
.checkout-goods-list .item .col {
	display:table-cell;
	vertical-align:middle;
	*float:left;
	*margin-top:10px
}
.checkout-goods-list .item .col-1 {
	width:884px;
	padding-left:20px;
	*margin-top:0
}
.checkout-goods-list .item .col-1 .g-info,.checkout-goods-list .item .col-1 .g-pic {
	display:table-cell;
	vertical-align:middle;
	*float:left
}
.checkout-goods-list .item .col-1 .g-pic {
	width:40px;
	height:40px;
	padding-right:10px
}
.checkout-goods-list .item .col-1 .g-info {
	*margin-top:10px
}
.checkout-goods-list .item .col-1 .g-info a {
	color:#333
}
.checkout-goods-list .item .col-1 .g-info .label {
	display:inline-block;
	_display:inline;
	height:16px;
	margin:-2px 0 0 10px;
	padding:0 6px;
	line-height:16px;
	_height:14px;
	_line-height:1;
	_padding-top:2px;
	text-align:center;
	color:#fff;
	background:#e9323e;
	font-size:12px;
	vertical-align:middle
}
.checkout-goods-list .item .col-1 .g-info .baoxian-service {
	margin-left:5px;
	font-size:12px;
	color:#1d7ad9;
	text-decoration:underline
}
.checkout-goods-list .item .col-4 {
	color:#1d7ad9
}
.checkout-count-extend {
	float:left;
	position:relative
}
.checkout-count-extend  h3{
	font-size: 18px;
	font-weight: 400;
	color: #333;
	margin-bottom: 20px;
}
.checkout-count-extend input{
	 width:700px;
	 height:100px; 
	 border:1px solid #dfdfdf;
}
.input-area{
	resize: none;
	width: 700px;
	height: 100px;
	border: 1px solid #dfdfdf;
	padding: 10px;
}
.checkout-count-extend .item input {
	display:none
}
.checkout-count-extend .coupon-box {
	display:none;
	width:370px;
	margin-bottom:10px;
	border:1px solid #dfdfdf;
	background:#fff
}
.checkout-count-extend .coupon-box .arrow-border,.checkout-count-extend .coupon-box .arrow-bg {
	display:none;
	width:0;
	height:0;
	position:absolute;
	overflow:hidden;
	border-style:dashed solid solid
}
.checkout-count-extend .coupon-box .arrow-border {
	left:40px;
	top:-8px;
	border-width:0 8px 8px;
	border-color:transparent transparent #dfdfdf
}
.checkout-count-extend .coupon-box .arrow-bg {
	left:42px;
	top:-6px;
	border-width:0 6px 6px;
	border-color:transparent transparent #fff
}
.checkout-count-extend .coupon-box .coupon-code {
	width:228px;
	height:34px;
	line-height:34px;
	padding:0 10px;
	border:1px solid #dfdfdf;
	color:#8c8c8c
}
.checkout-count-extend .coupon-box .coupon-code:hover,.checkout-count-extend .coupon-box .coupon-code:focus {
	border-color:#1d7ad9;
	outline:none
}
.checkout-count-extend .coupon-tab-nav .nav-item {
	float:left;
	width:50%;
	height:45px;
	line-height:45px;
	text-align:center;
	margin-left:-1px;
	border-left:1px solid #dfdfdf;
	border-bottom:1px solid #dfdfdf;
	color:#6d6d6d;
	cursor:pointer
}
.checkout-count-extend .coupon-tab-nav .current {
	color:#333;
	border-bottom:none
}
.checkout-count-extend .coupon-tab-con .con-item {
	display:none;
	text-align:center
}
.checkout-count-extend .coupon-tab-con .con-item .con-item-bd {
	padding:20px
}
.checkout-count-extend .coupon-tab-con .con-item .con-item-ft {
	padding:10px 0;
	background:#fafafa
}
.checkout-count-extend .coupon-tab-con .con-item .coupon-tip {
	display:none;
	margin-bottom:6px;
	font-size:12px;
	color:#f32f39
}
.checkout-count-extend .coupon-tab-con .current {
	display:block
}
.checkout-count-extend .coupon-tab-con .btn {
	margin:0 5px
}
.checkout-count-extend .coupon-tab-con .btn-lineDakeLight {
	border-color:#dfdfdf
}
.checkout-count-extend .coupon-list li {
	margin:8px 0;
	padding-left:20px;
	cursor:pointer;
	color:#333;
	text-align:left;
	font-size:12px;
	position:relative
}
.checkout-count-extend .coupon-list li span {
	float:right;
	display:none
}
.checkout-count-extend .coupon-list li i {
	color:#6d6d6d;
	font-style:normal
}
.checkout-count-extend .coupon-list .selected {
	background:none;
	color:#1d7ad9
}
.checkout-count-extend .coupon-list input {
	position:absolute;
	top:2px;
	left:0
}
.checkout-count-extend .coupon-result {
	display:none
}
.checkout-count-extend .coupon-result i {
	font-style:normal
}
.checkout-count-extend .coupon-result a {
	margin-left:20px;
	color:#fff;
	text-decoration:underline
}
.checkout-price {
	float:right;
	text-align:right;
	color:#333
}
.checkout-price ul {
	margin-bottom:20px
}
.checkout-price li {
	line-height:2;
	text-align:right
}
.checkout-price li span {
	display:inline-block;
	min-width:130px;
	_width:150px;
	color:#1d7ad9
}
.checkout-price .checkout-total {
	*line-height:1
}
.checkout-price .checkout-total span {
	display:inline-block;
	min-width:130px;
	_width:150px;
	color:#1d7ad9
}
.checkout-price .checkout-total span strong {
	margin-right:5px;
	font-size:30px;
	font-weight:normal;
	white-space:nowrap
}
.checkout-confirm {
	padding:20px 30px;
	padding-right:0px;
	border-top: 1px solid #dfdfdf;
	text-align:right;
	color:#333
}
.checkout-confirm p {
	font-size:12px
}
.checkout-confirm .btn-back-cart {
	border-color:#dfdfdf
}
.checkout-confirm .btn-primary {
	margin-left:5px
}
.btn-buy {
	display:inline-block;
	margin-bottom:0;
	font-size:14px;
	height:38px;
	line-height:38px;
	text-align:center;
	cursor:pointer;
	background-color:#fff;
	border:1px solid #ff4a00;
	color:#ff4a00;
	padding:0;
	width:148px;
	border-radius:0px;
	
}
.btn-buy:hover,.btn-buy:focus {
	color:#fff;
	outline:0;
	text-decoration:none;
	background-color:#ff4a00;
	border:0px;
}
