@charset "utf-8";
/* CSS Document */

.bg-fa{
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
	background-color: #f5f5f5;
	padding-bottom: 40px;
}
.bg-fa .container{
	margin-left: auto;
	margin-right: auto;
	width: 1226px;
	padding:0px;
}
.u-body{
	margin-top: 5px
}

/* 个人中心左侧开始 */
.uMenu{
	margin: 0px;
	padding: 0px;
	float: left;
	width: 25%;
	background-color: #FFF;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
}
.uMenu dl{
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 15px;
}
.u-face-pic{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	float: left;
	overflow: hidden;
	position: relative;
	margin-right: 20px;
	margin-left: 10px;
}
.u-face-pic img{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	display: block;
}
.u-face-pic a{
	bottom: -25px;
	left: 0;
	right: 0;
	width: 100%;
	display: block;
	text-align: center;
	height: 25px;
	line-height: 24px;
	position: absolute;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	font-weight: normal;
}
.u-face-pic:hover a{
	bottom: 0;
	color: #FFF;
}
.u-face-pic a:hover{
	text-decoration: underline;
}
.c-fff {
	color: #fff
}
.lt-ie9 .cc-mask,.lt-ie9.lt-ie8 .cc-mask,.u-face-pic a {
	background: url(../images/black-mask.png) repeat 0 0
}
.userNameClass{
	font-size: 16px;
	line-height: 40px;
	color: #666;
	text-align: center;
}
.c-blue{
	color: #666;
}
.c-blue:hover{
	color: #1d7ad9;
	text-decoration: underline;
}
.mt10 {
	margin-top: 10px
}
.mt20 {
	margin-top: 20px
}
.hLh30 {
	height: 30px;
	line-height: 30px
}
.u-m-dd {
	border-top: 1px solid #ccc;
	margin-top: 15px
}

.u-m-dd ul {
	border-bottom: 1px solid #ddd;
	padding: 20px 0 20px 30px
}
.u-m-dd ul:nth-child(4) {
	border-bottom: 1px;

}
.u-m-dd ul li {
	line-height: 32px
}

.u-m-dd ul li a,.u-m-dd ul li span {
	display: block;
	transition: .3s;
	-webkit-transition: .3s;
	color: #4e4e4e;
	font-size: 18px
}

.u-m-dd ul li span {
	cursor: default
}

.u-m-dd ul li ol {
	padding: 10px 0 0 50px
}

.u-m-dd ul li ol li a {
	font-size: 14px;
	color: #777
}

.u-m-dd ul li a:hover {
	text-decoration: none;
	color: #1d7ad9;
}
.u-m-dd ul li.current a{
	border-color: #1d7ad9;
	color: #1d7ad9;
}
.u-r-cont {
	border-left: 1px dotted #ddd;
	padding-left: 40px;
	min-height: 820px
}
/* 个人中心左侧结束 */

/* 个人中心右侧开始 */
.uArtucle{
	padding: 0px;
	float: left;
	width: 73.6%;
	background-color: #FFF;
	margin-left: 14px;
	background-color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.u-r-cont {
	border-left: 1px dotted #ddd;
	padding-left: 40px;
	min-height: 760px;
	padding-right: 40px;
	padding-top: 30px;
}
.c-infor-tabTitle.c-tab-title{
	margin-top: 20px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
}
.c-infor-tabTitle.c-tab-title a{
	font-size: 18px;
	margin-left: 0;
}
.c-infor-tabTitle.c-tab-title a:hover{
	text-decoration: none;
}
.c-tab-title{
	border-bottom: 1px solid #e2e2e2;
	height: 34.5px;
	text-align: left;
	margin-bottom: 50px;
}
.c-tab-title a{
	border-bottom: 1px solid transparent;
	display: inline-block;
	line-height: 34px;
	margin: 0 20px;
	padding: 0 10px;
	font-size: 16px;
	color: #666;
	transition: .3s;
	-webkit-transition: .3s;
}
.c-tab-title a:hover{
	text-decoration: none;
}
.c-tab-title a.current{
	border-color: #1d7ad9;
	color: #1d7ad9;
}
.mt40{
	margin-top: 40px;
}
.u-account-box{
	padding-top: 30px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 80px;
}
.u-account-li li {
	margin-bottom: 30px;
	overflow: hidden;
	font-size: 15px;
}
.u-a-title {
	display: inline-block;
	width: 100px;
	text-align: right;
	padding-right: 10px
}

.u-a-inpt,.u-account-li select {
	background: #fff;
	border: 1px solid #ccc;
	height: 34px;
	line-height: 36px;
	width: 300px;
	font-size: 14px;
	color: #666;
	padding: 0 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.vam{
	margin-left: 10px;
	margin-right:10px;
}

.u-a-inpt:focus,.u-account-li select:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.u-a-error {
	margin-left: 10px;
	color: #FF8723;
}

.u-sys-news dl {
	border-bottom: 1px dotted #ddd;
	padding-bottom: 20px;
	margin-top: 20px;
	overflow: hidden;
	clear: both
}

.u-sys-news dl dt {
	border-right: 3px solid #f2f2f2;
	float: left;
	width: 100px;
	margin-right: 20px;
	padding-right: 20px;
	height: 100px
}
.pl50{
	margin-top: 50px;
	margin-left: 50px;
	padding-left: 50px;
}
.subbtn{
	width: 200px;

}
.subbtn-info{
	width: 150px;
	margin-right: 20px;
}




/*上传图片开始*/
.jc-demo-box {
	height: 300px;
	width: 300px;
	float: left;
	position: relative;
}
.preview-pane{
	float: left;
	margin-top: 30px;
	margin-right: 40px;
}
.uploadWrap {
	margin-top: 20px;
	color: #1d7ad9;
}
.c-999 {
	color: #666;
	text-align: center;
	width: 120px;
	margin-top: 10px;
	font-weight:400;
}
/* 个人中心右侧结束 */

/*网站图标*/
.d-t-icon-1,.d-t-icon-2,.d-t-icon-3,.d-t-icon-4,.dClose,.dpIcon,.g-a-title em,.h-r-s-box .s-btn em,.icon-close,.lh-p-icon,.lh-playing span em,.login-icon,.m-tree-icon,.news-icon,.no-data-ico,.noter-dy em,.noter-zan em,.o-c-icon,.p-h-goback em,.q-hd,.q-share-icon,.q-tw,.r-fixed-ul li a em,.scIcon,.shareIcon,.u-a-cw,.u-a-zq,.v-play-btn em,.h-l-nav li .hl-sec-nav dd a em,.icon80,.icon14,.icon20,.s-car-close,.c-pay-problem em,.pay-error-btn a em,.cou-arrow-down,.cou-arrow-up {
	background: url(../images/icon.png) no-repeat
}
.u-a-cw {
	background-position: -113px -188px
}
.u-a-zq {
	background-position: -113px -163px
}
.icon16 {
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: middle
}
