<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.dao.system.SystemMenuMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		MENU_ID AS menuId, PARENT_ID AS parentId, MENU_TYPE AS menuType, MENU_CODE AS menuCode, MENU_NAME AS menuName, SORT, HREF, ICON, STATUS, PERMISSION, CREATE_TIME AS createTime, CREATE_BY AS createBy, UPDATE_TIME AS updateTime, UPDATE_BY AS updateBy, REMARKS
	</sql>
	
	<!-- 查询系统目录 -->
	<select id="selectSystemMenu" resultType="SystemMenu" >
        SELECT
			MENU_ID AS menuId, 
			PARENT_ID AS parentId, 
			MENU_TYPE AS menuType,
			MENU_NAME AS menuName, 
			HREF, 
			ICON
        FROM
            tb_system_menu
	    <where>
			<if test="status != null and status !=''">
				and STATUS = #{status}
			</if>
			<if test="menuType != null and menuType !=''">
				and MENU_TYPE = #{menuType}
			</if>
	    </where>
	    ORDER 
	    	BY SORT ASC
    </select>
    
    <!-- 查询用户授权列表 -->
	<select id="selectSystemMenus" resultType="SystemMenu" >
        SELECT
			MENU_ID AS menuId, 
			PARENT_ID AS parentId, 
			MENU_NAME AS menuName
        FROM
            tb_system_menu
	    ORDER 
	    	BY SORT ASC
    </select>
    
</mapper>