<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.dao.system.SystemUserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		ACCOUNT_ID AS accountId, LOGIN_NAME AS loginName, LOGIN_PASSWORD AS loginPassword, USER_NAME AS userName, REAL_NAME AS realName, SEX, AGE, PIC_IMG AS picImg, STATUS, LAST_LOGIN_TIME AS lastLoginTime, LAST_LOGIN_IP AS lastLoginIp, EMAIL, TELEPHONE, CREATE_TIME AS createTime, CREATE_BY AS createBy, UPDATE_TIME AS updateTime, UPDATE_BY AS updateBy
	</sql>
	
	<!-- 根据查找条件查找所有管理员 -->
	<select id="selectAllSystemUser" resultType="SystemUser" parameterType="QueryUser">
		SELECT
			ACCOUNT_ID AS accountId,
			USER_NAME AS userName,
			REAL_NAME AS realName,
			SEX,
			AGE,
			PIC_IMG AS picImg,
			STATUS,
			LAST_LOGIN_TIME AS lastLoginTime,
			LAST_LOGIN_IP AS lastLoginIp,
			EMAIL,
			TELEPHONE,
			CREATE_TIME AS createTime,
			CREATE_BY AS createBy,
			UPDATE_TIME AS updateTime,
			UPDATE_BY AS updateBy
		FROM
			tb_system_user
		<where>
			<if test="searchContent != null and searchContent !=''">
				AND (USER_NAME LIKE '%' #{searchContent} '%' OR REAL_NAME LIKE '%' #{searchContent} '%'
				OR AGE LIKE '%' #{searchContent} '%' OR LAST_LOGIN_IP LIKE '%' #{searchContent} '%'
				OR EMAIL LIKE '%' #{searchContent} '%' OR TELEPHONE LIKE '%' #{searchContent} '%')
			</if>
			<if test="beginCreateTime != null">
				AND CREATE_TIME >= #{beginCreateTime}
			</if>
			<if test="endCreateTime != null">
				AND <![CDATA[CREATE_TIME  <= #{endCreateTime}]]>
			</if>
		</where>
    </select>	

	<!-- 根据角色ID查找管理员 -->
	<select id="selectSysUserByRoleId" resultType="SystemUser">
		SELECT
			u.ACCOUNT_ID AS accountId,
			USER_NAME AS userName,
			REAL_NAME AS realName,
			SEX,
			AGE,
			PIC_IMG AS picImg,
			STATUS,
			LAST_LOGIN_TIME AS lastLoginTime,
			LAST_LOGIN_IP AS lastLoginIp,
			EMAIL,
			TELEPHONE,
			u.CREATE_TIME AS createTime,
			u.CREATE_BY AS createBy,
			UPDATE_TIME AS updateTime,
			UPDATE_BY AS updateBy
		FROM
			tb_system_user u
		LEFT JOIN 
			tb_system_user_role r ON u.ACCOUNT_ID = r.ACCOUNT_ID
		WHERE
			r.ROLE_ID = #{roleId}
    </select>
    
    
    <!-- 更新用户信息 -->
  	<update id="updateUserInfo" parameterType="SystemUser">
	  	UPDATE 
	  		tb_system_user
	    SET 
	    	USER_NAME = #{userName}, 
	    	REAL_NAME = #{realName}, 
	    	SEX = #{sex}, 
	    	AGE = #{age},
	    	STATUS = #{status}, 
	    	EMAIL = #{email}, 
	    	TELEPHONE = #{telephone},
	    	UPDATE_TIME = #{updateTime}, 
	    	UPDATE_BY = #{updateBy}
	    WHERE 
	    	ACCOUNT_ID = #{accountId}
  	</update>	

</mapper>