<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.product.mapper.CommentReplyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.product.entity.CommentReply">
		<id column="comment_reply_id" property="commentReplyId" />
		<result column="comment_id" property="commentId" />
		<result column="user_id" property="userId" />
		<result column="user_name" property="userName" />
		<result column="pic_img" property="picImg" />
		<result column="content" property="content" />
		<result column="good_count" property="goodCount" />
		<result column="status" property="status" />
		<result column="type" property="type" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_reply_id AS commentReplyId, comment_id AS commentId, user_id AS userId, user_name AS userName, pic_img AS picImg, content, good_count AS goodCount, status, type, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>
    
    <!-- 根据评论ID和状态查找回复列表（排序方式,官方回复最前,其次按回复顺序倒序） -->
	<select id="listByCommentId" resultType="org.pussinboots.morning.product.entity.CommentReply">
    	SELECT
    		comment_reply_id AS commentReplyId, 
    		comment_id AS commentId, 
    		user_id AS userId, 
    		user_name AS userName, 
    		pic_img AS picImg, 
    		content, 
    		good_count AS goodCount,
    		type
		FROM
			os_comment_reply
		WHERE
			comment_id = #{commentId}
		AND status = #{status}
		ORDER BY
			type DESC
	</select>
</mapper>
