<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.product.mapper.RecommendMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.product.entity.Recommend">
		<id column="recommend_id" property="recommendId" />
		<result column="name" property="name" />
		<result column="code" property="code" />
		<result column="number" property="number" />
		<result column="show_number" property="showNumber" />
		<result column="status" property="status" />
		<result column="remarks" property="remarks" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        recommend_id AS recommendId, name, code, number, show_number AS showNumber, status, remarks, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy
    </sql>

</mapper>
