@CHARSET "UTF-8";
.u-r-cont .title{
	font-size: 30px;
	font-weight: 400;
	line-height: 68px;
	color: #757575;
	margin-left: 10px;
	margin-bottom: 30px;
}
.u-r-cont small{
	font-size:12px;
	line-height:1.5;
}

.xm-box {
	border:none;
	margin-bottom:20px
}
.xm-box .box-hd {
	height:44px;
	padding-top:6px;
	margin-bottom:20px;
	border-bottom:1px solid #dfdfdf
}
.xm-box .box-hd .title {
	margin:0;
	color:#333;
	font-size:18px;
	font-weight:400;
}
.xm-address-list {
	margin-left:-10px;
}
.xm-address-list .item {
	float:left;
	display:inline;
	width:260px;
	height:180px;
	padding:15px 18px;
	position:relative;
	border:1px solid #dfdfdf;
	margin:0 0 10px 15px;
	cursor:pointer;
	background:#fafafa
}
.xm-address-list .item:hover {
	background:#f3f3f3
}
.xm-address-list .item .edit-btn {
	display:none;
	width:50px;
	height:18px;
	line-height:18px;
	margin-top:8px;
	text-align:center;
	color:#0c80dc;
	font-size:12px;
	cursor:pointer;
	border:1px solid #dfdfdf
}
.xm-address-list .item dt {
	margin:0;
	height:30px;
	line-height:30px;
	margin-bottom:10px;
	border-bottom:1px solid #dfdfdf;
	color:#333
}
.xm-address-list .item dt strong {
	float: left;
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
}
.xm-address-list .item dt span {
	float:right
}
.xm-address-list .item dt .tag {
	height:18px;
	line-height:18px;
	margin-top:6px;
	padding:0 10px;
	font-size:12px;
	background:#dfdfdf
}
.xm-address-list .item dd {
	margin:0;
	line-height:1.6;
	color:#6d6d6d
}
.xm-address-list .selected {
	border-color:#1d7ad9;
	background:#fff;
	cursor:default
}
.xm-address-list .selected:hover {
	background:#fff
}
.xm-address-list .selected .edit-btn {
	display:block;
	float:left;
	margin-right:20px;
	margin-top:20px;	
}
.xm-address-list .use-new-addr {
	text-align:center;
	color:#8c8c8c
}
.xm-address-list .use-new-addr .icon-add {
	display:block;
	margin-top:37px;
	font-size:36px;
	line-height:1;
	font-weight:normal
}
.xm-edit-addr-backdrop {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:#000;
	opacity:.3;
	filter:alpha(opacity=30);
	z-index:1040
}
.xm-edit-addr-box {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #1d7ad9;
	z-index: 1050
}
.xm-edit-addr-box .bd {
	padding: 30px 20px 13px;
}
.xm-edit-addr-box .bd .item {
	margin-bottom:10px
}
.xm-edit-addr-box .bd .item label {
	display:none;
	margin-bottom:5px
}
.xm-edit-addr-box .bd .item label span {
	color:#ee330a
}
.xm-edit-addr-box .bd .item .input,.xm-edit-addr-box .bd .item .input-area {
	width:290px;
	height:60px;
	background:#fff;
	border:1px solid #dfdfdf;
	color:#333
}
.xm-edit-addr-box .bd .item .input:focus,.xm-edit-addr-box .bd .item .input-area:focus {
	border-color:#1d7ad9;
	outline:none
}
.xm-edit-addr-box .bd .item .input {
	height:38px;
	line-height:38px;
	padding:10px 16px;
}
.xm-edit-addr-box .bd .item .input-area {
	height:60px;
	line-height:20px;
	padding:5px 10px
}
.xm-edit-addr-box .bd .item .xm-ph-blur {
	color:#8c8c8c
}
.xm-edit-addr-box .bd .item select {
	margin-right:7px;
	margin-bottom:10px;
	border:1px solid #dfdfdf;
	padding:0px 16px;
	height:38px;
}
.xm-edit-addr-box .bd .item select:focus {
	border-color:#1d7ad9;
	outline:none
}
.xm-edit-addr-box .bd .item .select-1,.xm-edit-addr-box .bd .item .select-2 {
	width:140px;
	margin-right: 2.8px;
	margin-bottom:10px;
}
.xm-edit-addr-box .bd .item .select-2 {
	margin-right:0
}
.xm-edit-addr-box .bd .item .select-3 {
	width:290px;
	margin-bottom:10px;
}
.xm-edit-addr-box .bd .item .zipcode-tip {
	margin:5px 0 0;
	font-size:12px;
	color:#8c8c8c
}
.xm-edit-addr-box .bd .item .tel-modify-tip {
	display:none;
	margin-top:5px;
	color:#8c8c8c;
	font-size:12px
}
.xm-edit-addr-box .bd .item .tel-modify-tip em {
	color:#ee330a
}
.xm-edit-addr-box .bd .item .tip-msg {
	display:none;
	margin-top:5px;
	color:#f32f39;
	font-size:12px
}
.xm-edit-addr-box .ft {
	padding:20px;
	background:#fafafa;
	text-align:center
}
.xm-edit-addr-box .ft .btn {
	width:130px
}
.xm-edit-addr-box .ft .btn-lineDake {
	float:left;
	border-radius:0px;
}
.xm-edit-addr-box .ft .btn-primary {
	float:right;
	border-radius:0px;
}
.xm-address-list .tip {
	margin:0 0 10px 10px;
	color:#d6313a
}