<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.dao.OrderShipMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		SHIP_ID AS shipId, ORDER_ID AS orderId, ORDER_USER_NAME AS orderUserName, ORDER_USER_TELPHONE AS orderUserTelphone, PROVINCE_ID AS provinceId, PROVINCE_NAME AS provinceName, CITY_ID AS cityId, CITY_NAME AS cityName, DISTRICT_ID AS districtId, DISTRICT_NAME AS districtName, AREA, ORDER_USER_ADDRESS AS orderUserAddress
	</sql>

</mapper>