<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.administrator.mapper.OrganizationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.administrator.entity.Organization">
		<id column="organization_id" property="organizationId" />
		<result column="organization_name" property="organizationName" />
		<result column="is_system" property="isSystem" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        organization_id AS organizationId, organization_name AS organizationName, is_system AS isSystem, status, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, remarks
    </sql>
    
    <!-- 根据分页信息/搜索内容查找组织列表 -->
	<select id="listByPage" resultType="org.pussinboots.morning.administrator.entity.Organization">
		SELECT
        	organization_id AS organizationId, 
        	organization_name AS organizationName, 
        	is_system AS isSystem, 
        	status, 
        	create_time AS createTime, 
        	create_by AS createBy, 
        	update_time AS updateTime, 
        	update_by AS updateBy, 
        	remarks
        FROM
        	cms_organization
    	<where>
    		1=1
    		<if test="search != null">
				AND (
					organization_name LIKE '%' #{search} '%' 
					OR create_by LIKE '%' #{search} '%' 
					OR update_by LIKE '%' #{search} '%'
					OR remarks LIKE '%' #{search} '%'
				)
			</if>
			<if test="pageInfo.sort != null">
				ORDER BY ${pageInfo.sort} ${pageInfo.order}
			</if>   		   		 		
    	</where> 
	</select>
</mapper>
