<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pussinboots.morning.online.mapper.NavigationMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="org.pussinboots.morning.online.entity.Navigation">
		<id column="navigation_id" property="navigationId" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="status" property="status" />
		<result column="number" property="number" />
		<result column="show_number" property="showNumber" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
		<result column="remarks" property="remarks" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        navigation_id AS navigationId, code, name, status, number, show_number AS showNumber, create_time AS createTime, create_by AS createBy, update_time AS updateTime, update_by AS updateBy, remarks
    </sql>
    
    <!-- 根据分页信息/搜索内容查找导航列表 -->
    <select id="listByPage" resultType="org.pussinboots.morning.online.entity.Navigation">
    	SELECT 
        	navigation_id AS navigationId, 
        	code, 
        	name, 
        	status, 
        	number, 
        	show_number AS showNumber, 
        	create_time AS createTime, 
        	create_by AS createBy, 
        	update_time AS updateTime, 
        	update_by AS updateBy, 
        	remarks
        FROM
        	os_navigation
	    <where>
    		1=1
    		<if test="search != null">
				AND (
					code LIKE '%' #{search} '%' 
					OR name LIKE '%' #{search} '%' 
					OR remarks LIKE '%' #{search} '%'
					OR create_by LIKE '%' #{search} '%'
					OR update_by LIKE '%' #{search} '%'
				)
			</if>
			<if test="pageInfo.sort != null">
				ORDER BY ${pageInfo.sort} ${pageInfo.order}
			</if>   		   		 		
    	</where> 
    </select>
    
    <!-- 根据导航ID更新导航中导航栏数量 -->
    <update id="updateNumber">
		UPDATE os_navigation
		SET number = (
			SELECT
				COUNT(1)
			FROM
				os_navigation_bar
			WHERE
				navigation_id = #{navigationId}
		)
		WHERE
			navigation_id = #{navigationId}
    </update>
</mapper>
