<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.dao.goods.GoodsSpecMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		SPEC_ID AS specId, GOODS_ID AS goodsId, SPEC_COLOR AS specColor, SPEC_SIZE AS specSize, SPEC_PRICE AS specPrice, SPEC_SAVE_INFO AS specSaveInfo, SPEC_STATUS AS specStatus
	</sql>
	
	<!-- 根据商品ID查找商品规格 -->
    <select id="selectUserLoginLog" resultType="GoodsSpec">
        SELECT
        	<include refid="Base_Column_List"/>
        FROM 
        	tb_system_user_login_log
        WHERE
        	USER_ID = #{userId}
        ORDER 
	    	BY LOGIN_TIME DESC
    </select>

</mapper>