<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morning.dao.goods.GoodsPictureMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		GOODSPIC_ID AS goodspicId, GOODS_ID AS goodsId, GOODSPIC_TYPE AS goodspicType, GOODSPIC_IMAGE AS goodspicImage
	</sql>
	
	<!-- 根据商品ID查找商品详情图片 -->
	<select id="selectGoodsPictures" resultType="GoodsPicture">
		SELECT
        	<include refid="Base_Column_List"/>
        FROM
        	tb_goods_picture
        WHERE
        	GOODS_ID = #{goodsId}
	</select>

</mapper>